mixin portfoliogrid2columnspace()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+2columngridfullwidth()

mixin portfoliogrid3columnspace()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+3columngridfullwidth()

mixin portfoliogrid4columnspace()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+4columngridfullwidth()


mixin portfoliogrid5columnspace()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+5columngridfullwidth()