.counter-bg-image
    background url("../img/header/3.jpg") left top
    background-attachment fixed
    
.countup1
    position relative
    width 100%
    overflow hidden
    text-align center

    .glass-icon
        color white
        margin-bottom 30px
        font-size 40px  
    h3 
        dispaly block
        color #fff
        text-align center
        font-size 50px
        font-weight 900
    p
        margin-top 30px
        text-transform uppercase
        font-weight 700
        color primary
        font-size 12px
        text-align center
.contbdr
    border-left 1px dotted #fff
    padding-left 30px
    height 120px
@media(max-width 992px)
    .contbdr
        padding 0
        border none
.counter2
    padding 50px 0px
    overflow hidden !important

.counter-box1
    dispaly absolute
    margin auto
    text-align center
    width 150px
    height 150px
    border-radius 0%
    background-color darken(white, 5%)
    overflow hidden
    margin-bottom 30px
    
    i
        color primary
        font-size 35px
        margin-top 15px
    h3 
        dispaly block
        color #777
        text-align center
        font-size 30px
        font-weight 900
    p
        color #777
        margin-top 20px
        text-transform uppercase
        font-weight 700
        // color primary
        font-size 14px
        text-align center
.counter-box2
    dispaly absolute
    margin auto
    background-color darken(primary, 50%)
    margin-bottom 30px
    i,h3,p
        color #fff
.counter-boxflat
    dispaly absolute
    margin auto
    background-color darken(primary, 50%)
    margin-bottom 30px
    i,h3,p
        color #fff

.counter-boxflat
    dispaly absolute
    margin auto
    text-align center
    width 150px
    height 150px
    border-radius 0%
    background-color transparent
    border 2px solid white
    overflow hidden
    margin-bottom 30px
    h3 
        dispaly block
        color white
        text-align center
        font-size 30px
        margin-top -10px
        font-weight 900
    p
        color white
        margin-top 10px
        text-transform uppercase
        font-weight 700
        // color primary
        font-size 14px
        text-align center
        
.counter-boxflat-enthink
    dispaly absolute
    margin auto
    text-align center
    width 150px
    height 200px
    border-radius 0%
    background-color transparent
    border 2px solid transparent
    overflow hidden
    margin-bottom 30px
    i
        border 3px solid white
        // padding 20px
    h3 
        dispaly block
        color white
        text-align center
        font-size 30px
        margin-top -10px
        font-weight 900
    p
        color white
        margin-top 10px
        text-transform uppercase
        font-weight 700
        // color primary
        font-size 14px
        text-align center
    

.flat-icon
    i
        &::before
            font-size 50px
            position relative
            top 10px
            left -10px