.collapse1
	.panel-heading
		padding-top 0px
		padding-bottom 0px
		span
			transition 0.4s all
		a.collapsed
			span
				transform rotate(180deg)
	.panel-body
		padding-top 40px
		padding-bottom 40px
	a > h4
		font-size 15px
		color primary
		margin 0
		padding-top 10px
		padding-bottom 10px
		text-decoration none
		span
			position relative
			top 3px
			color primary
		&:hover, &:active, &:visited, &:link
			color primary
			span
				color primary
	a:focus
		text-decoration none
.collapse2
	background url('../img/construction/slider/cons1.jpg')
	.panel-group
		margin-bottom 10px
	.panel-default
		background-color alpha(black,40%)
		border-color primary
		border-radius 0
		border none
	.panel-heading
		padding-top 0
		padding-bottom 0
		background-color transparent
		color black
		border-color primary
		border-radius 0
		&:hover
			color #252423
		&:hover, &:active, &:visited, &:link
			text-decoration none
		span
			position relative
			top 3px
			transition 0.4s all
		a.collapsed
			span
				transform rotate(180deg)
	.panel-body
		padding-top 40px
		padding-bottom 40px
		font-size 15px
		border-top-color primary !important
		padding-left 20px
		color white !important
	a > h4
		font-size 15px
		color primary
		margin 0
		padding-top 10px
		padding-bottom 10px
		span
			color primary
		&:hover
			text-decoration none
			color primary
			span
				color primary
		&:focus
			text-decoration none
			color primary
			span
				color primary
	a
		text-decoration none
		span
			color primary
.collapse3
	// collapse start here
	.panel-group
		margin-bottom 10px
	.panel-default
		background-color alpha(primary, 20%)
		border-color primary
		border-radius 0
	.panel-heading
		padding-top 0px
		padding-bottom 0px
		background-color primary
		color white
		border-color primary
		border-radius 0
		&:hover
			color white
		&:hover, &:active, &:visited, &:link
			text-decoration none
		span
			position relative
			top 3px
			transition 0.4s all
		a.collapsed
			span
				transform rotate(180deg)
	.panel-body
		font-size 15px
		// color primary
		border none !important
		padding-top 40px
		padding-bottom 40px
	a > h4
		font-size 15px
		color white
		margin 0
		padding-top 10px
		padding-bottom 10px
		span
			position relative
			top 3px
			color white
		&:hover
			text-decoration none
			color white
			span
				color white
		&:focus
			text-decoration none
			color white
			span
				color white
	a
		text-decoration none
		span
			color white

.collapse4
	background url('../img/construction/slider/cons1.jpg')
	// collapse start here
	.panel-group
		margin-bottom 10px
	.panel-default
		background-color alpha(black,40%)
		border-color primary
		border-radius 0
		border none
	.panel-heading
		padding-top 0px
		padding-bottom 0px
		background-color alpha(black, 60%)
		color white
		font-weight 600
		letter-spacing 0.9px
		border-color primary
		border-radius 0
		&:hover
			color white
		&:hover, &:active, &:visited, &:link
			text-decoration none
		span
			position relative
			top 3px
			transition 0.4s all
		a.collapsed
			span
				transform rotate(180deg)
	.panel-body
		padding-top 40px
		padding-bottom 40px
		font-size 15px
		border none !important
		p
			color white
			font-weight 400
	a > h4
		font-size 15px
		color white
		margin 0
		padding-top 10px
		padding-bottom 10px
		span
			position relative
			top 3px
			color white
		&:hover
			text-decoration none
			color white
			span
				color white
		&:focus
			text-decoration none
			color white
			span
				color white
	a
		text-decoration none
		span
			color white

.collapse5
	// collapse start here
	.panel-group
		margin-bottom 10px
	.panel-default
		background-color transparent
		border-color primary
		border-radius 0
		border none
	.panel-heading
		padding-top 0px
		padding-bottom 0px
		background-color primary
		color white
		border-color primary
		border-radius 50px 50px 50px 50px
		&:hover
			color white
		&:hover, &:active, &:visited, &:link
			text-decoration none
		span
			position relative
			top 3px
			transition 0.4s all
		a.collapsed
			span
				transform rotate(180deg)
	.panel-body
		font-size 15px
		border none !important
		padding-top 40px
		padding-bottom 40px
	a > h4
		font-size 15px
		color white
		margin 0
		padding-top 10px
		padding-bottom 10px
		span
			color white
		&:hover
			text-decoration none
			color white
			span
				color white
		&:focus
			text-decoration none
			color white
			span
				color white
	a
		text-decoration none
		span
			color white

.collapse6
	.panel-group
		margin-bottom 10px
	.panel-default
		background-color transparent
		border-color #333
		border-radius 0
		border none
	.panel-heading
		padding-top 0px
		padding-bottom 0px
		background-color #333
		color white
		border-color primary
		border-radius 50px 50px 50px 50px
		&:hover
			color white
		&:hover, &:active, &:visited, &:link
			text-decoration none
		span
			position relative
			top 3px
			transition 0.4s all
		a.collapsed
			span
				transform rotate(180deg)
	.panel-body
		font-size 15px
		border none !important
		padding-top 40px
		padding-bottom 40px
	a > h4
		font-size 15px
		color white
		margin 0
		padding-top 10px
		padding-bottom 10px
		span
			color white
		&:hover
			text-decoration none
			color white
			span
				color white
		&:focus
			text-decoration none
			color white
			span
				color white
	a
		text-decoration none
		span
			color white