mixin services()
	section()&attributes(attributes).services#services.pv30
		header.services-header
			.container
				.row
					.col-md-12
						.title.text-center
							h2 Services
							hr
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		footer.services-footer
			.container
				.row
					+gallery('col-md-3 no-padding', 8, 'team',  'mt20').mt30

