mixin iconbox-default-1()
    section()&attributes(attributes)
        .container
            .row
                .col-md-8
                    .section-top-text
                        .heading
                            h2.comp-title IconBox Components
                            hr
                    .icons.mt40
                        .content-top-heading
                            h4.comp-titles IconBox - I
                    +iconbox1
                .col-md-4
                    +component-nav()

mixin iconbox1()
    +iconbox-1('col-md-4 col-sm-4 col-xs-12 mv40', 3)&attributes(attributes)


    // IconBox transition top-bottom
mixin iconbox-default-2()
    section()&attributes(attributes)
        .container
            .row
                .col-md-12
                    .icons.mt40
                        .content-top-heading.mt80
                            h4.comp-titles IconBox - II
            .row
                .col-md-12
                    +iconbox2()
mixin iconbox2()
    +iconbox-2('col-md-4 col-sm-4 col-xs-12 mv40', 3)&attributes(attributes)


    // IconBox transition top-bottom
mixin iconbox-default-3()
    section()&attributes(attributes)
        .container
            .row
                .col-md-12
                    .icons.mt40
                        .content-top-heading.mt80
                            h4.comp-titles IconBox - III
            .row
                .col-md-12
                    +iconbox3()
mixin iconbox3()
    +iconbox-3('col-md-4 col-sm-4 col-xs-12 mv40', 3)&attributes(attributes)


    // IconBox transition top-bottom
mixin iconbox-default-4()
    section()&attributes(attributes)
        .container
            .row
                .col-md-12
                    .icons.mt40
                        .content-top-heading.mt80
                            h4.comp-titles IconBox - IV
            .row
                .col-md-12
                    +iconbox4()
mixin iconbox4()
    +iconbox-4('col-md-4 col-sm-4 col-xs-12 mv40', 3)&attributes(attributes)

    // IconBox transition top-bottom
mixin iconbox-default-5()
    section()&attributes(attributes)
        .container
            .row
                .col-md-12
                    .icons.mt40
                        .content-top-heading.mt80
                            h4.comp-titles IconBox - V
            
                .col-md-12
                    +iconbox5()
mixin iconbox5()
    +iconbox-5('col-md-4 col-sm-4 col-xs-12 mv40', 3)&attributes(attributes)



    // IconBox transition top-bottom
mixin iconbox-default-6()
    section()&attributes(attributes)
        .container
            .row
                .col-md-12
                    .icons.mt40
                        .content-top-heading.mt80
                            h4.comp-titles IconBox - VI
            .row
                .col-md-12
                    +iconbox6()
mixin iconbox6()
    +iconbox-6('col-md-4 col-sm-4 col-xs-12 mv40', 3) &attributes(attributes)

    // IconBox transition top-bottom
mixin iconbox-default-7()
    section()&attributes(attributes)
        .container
            .row.mb70
                .col-md-12
                    .icons.mt40
                        .content-top-heading.mt80
                            h4.comp-titles IconBox - VII
            
                .col-md-12
                    +iconbox7()
mixin iconbox7()
    +iconbox-7('col-md-4 col-sm-4 col-xs-12 mv40', 3) &attributes(attributes)