mixin price-table()
    .section
        .container
            .row
                .col-md-12
                    .mt50
                    h3.comp-title priceing table grid 3 colum
                    +price3()

                .col-md-12
                    h3.comp-title priceing table grid 3 colum
                    +price2()
                .col-md-12
                    h3.comp-title priceing table grid 3 colum
                    +price11()
                .col-md-12
                    h3.comp-title priceing table grid 4 colum
                    +price12()
                .col-md-12
                    h3.comp-title priceing table grid 4 colum
                    +price13()