mixin portfolio2columnnospaceboxed()
	section
		.container
			.row
				+nospaceboxed2column()

mixin portfolio3columnnospaceboxed()
	section
		.container
			.row
				+nospaceboxed3column()

mixin portfolio4columnnospaceboxed()
	section
		.container
			.row
				+nospaceboxed4column()
