mixin single-line()
    .divider&attributes(attributes)

mixin double-line()
    .divider.double-line&attributes(attributes)

mixin dotted-line()
    .dotted-line&attributes(attributes)

mixin icon-left-line()
    .divider.divider-left&attributes(attributes)

mixin icon-right-line()
    .divider.divider-right&attributes(attributes)

mixin icon-center-line()
    .divider.divider-center&attributes(attributes)

mixin icon-short-line()
    .divider.divider-short&attributes(attributes)

mixin bdr-icon-left-line()
    .divider.divider-bdr-lefticon&attributes(attributes)

mixin bdr-icon-right-line()
    .divider.divider-bdr-righticon&attributes(attributes)

mixin bdr-icon-center-line()
    .divider.divider-bdr-centericon&attributes(attributes)

mixin bdr-icon-short-line()
    .divider.divider-bdr-icon-center-short&attributes(attributes)


//- divid
mixin icon-short-linecenter()
    .divider.divider-short&attributes(attributes)