#testimonial
	background-color #19262D
.team-para
	margin-top 50px
	text-align center
	font-size 20px
	letter-spacing 1.5px
	line-height 25px
	color white
	font-weight 200
.client-content
	&:before
		content "\f10d"
		position absolute
		color #fff
		font-family fontAwesome
		font-style italic
		font-size 20px
		top 160px
		padding-left 50px
		font-weight normal
		left 0
		
				 
.team-heading
	color primary
	font-weight 500
	font-size 22px
	text-align center
	margin-top 20px
	text-transform uppercase
.img-team
	width 100px
	height 100px
	display block
	margin auto
	border-radius 25px