mixin divider()
    section&attributes(attributes)
        .container
            .row
                .col-md-8
                    h2.comp-title dividers
                    hr
                    h2.comp-titles Single
                    +single-line()



                    h2.comp-titles Double line
                    +double-line()



                    h2.comp-titles Dotted line
                    +dotted-line()



                    h2.comp-titles Icon left line
                    +icon-left-line()



                    h2.comp-titles Icon right line
                    +icon-right-line()



                    h2.comp-titles Icon center line
                    +icon-center-line()



                    h2.comp-titles Icon center short line
                    +icon-short-line()



                    h2.comp-titles Border Icon left line
                    +bdr-icon-left-line()



                    h2.comp-titles Border Icon right line
                    +bdr-icon-right-line()



                    h2.comp-titles Border icon center
                    +bdr-icon-center-line()



                    h2.comp-titles Border icon center
                    +bdr-icon-short-line()

                    .mb50
                .col-md-4
                    +component-nav()
