.travel_search_widget
	.box a .img {
	    position: relative;
	    height: 230px;
	    width: 170px;
	    left: -25px;
	    background-color: red;
	}
	.title
		position relative
		p
			position absolute
			color white
		i
			position absolute
			color white
			top 50px
			font-size 100px
	.owl-tweeter
		.owl-theme
			.owl-controls
				.owl-buttons
					position relative
					height 200px
					width 100px
					background-color red
					.owl-prev
						position absolute
						left -4px
						top 0px
						font-size 15px
						color #333
						background-color transparent
						&:hover
							color primary
					.owl-next
						position absolute
						left 64px
						top 0px
						font-size 15px
						color #333
						background-color transparent
						
						&:hover
							color primary
					div
						margin-top 30px
						margin-bottom 30px
						line-height 40px
						border-radius 0
						padding 0
						color white
						opacity 1
						&:hover
							transition 0.5s all
							color white
	.text
		p
			letter-spacing 0.9px
			font-size 15px
			font-weight 100
			color white
		