.quote-widget-enthink
	overflow hidden
	
	.author-name
		p
			color white
			font-size 14px
			font-weight 400
	.img
		img
			height: 140px;
			border: 8px solid white;
			margin-top: 30px;
			margin-bottom: 25px;
	.text
		p
			letter-spacing 0.9px
			font-size 15px
			font-weight 100
			color white
	p.
		color white
	.owl-tweeter
		.owl-theme
			.owl-controls
				.owl-buttons
					.owl-prev
						position absolute
						right 64px
						bottom 0
						font-size 30px
						padding-left 20px
						padding-right 20px
						padding-top 5px
						padding-bottom 5px
						background-color alpha(gray, 50%)
						border 1px solid transparent
						&:hover
							background-color primary
							color white
							border 1px solid primary
					.owl-next
						position absolute
						right 10px
						bottom 0
						font-size 30px
						padding-left 20px
						padding-right 20px
						padding-top 5px
						padding-bottom 5px
						background-color alpha(gray, 100%)
						border 1px solid alpha(gray, 100%)
						&:hover
							background-color primary
							border 1px solid primary
							color white
					div
						margin-top 30px
						margin-bottom 30px
						line-height 40px
						border-radius 0
						padding 0
						color white
						opacity 1
						&:hover
							transition 0.5s all
							color white
.widget2
	overflow hidden
	.blocks
		transition 1s all
		cursor pointer
		background-color #2a2a2a
		border 1px solid alpha(primary, 40%)
		.media-text
			h4
				color primary
				letter-spacing 1px
				font-weight 900
				text-transform uppercase
				font-size 14px
			p
				line-height 20px
				color gray
				letter-spacing 1px
				font-weight 100
				font-size 13px
		.button
			bottom 25px
			left 48px
			.btn-primary
				color primary
				border none
				transition 0.5s all
				&:hover
					color white
					background-color primary
		&:hover
			.button
				.btn-primary
					color white
					background-color primary
.widget3
	form
		.input1,input
			height 126px
			margin-bottom -17px
			border none
			color white
			padding-left 30px
			padding-right 30px
			transition 0.5s all
			background-color alpha(gray, 20%)
			&:hover
				border 2px solid primary
			&:focus
				border 2px solid primary
			&.active
				border 2px solid primary
		.button
			bottom 4px
			right 4px
			.btn
				transition 0.5s all
				border-right primary
				border-bottom primary
				border-top primary
				background-color primary
				border-radius 0
				&:hover
					background-color darken(primary, 20%)
		&:hover
			input
				transition 0.5s all
				border 2px solid primary
	.sidebox
		.btn
			transition 0.5s all
			padding-top 45px
			height 126px
			width 100%
			background-color primary
			border 0
			border-radius 0
			&:hover
				background-color darken(primary, 20%)
	.subscription-text
		h3
			font-size 17px
			color primary
			font-weight 800
		h5
			font-size 14px
			color primary


.widget4
	form
		margin-bottom 0
		.tweets2
			height 126px
			outline none
			border none
			background-color primary
			padding 40px
			h4
				font-weight 700
				color gray
	.sidebox
		.btn
			background-color primary
			padding-top 45px
			height 126px
			width 100%
			border 0
			border-radius 0
			transition 0.5s all
			.fa
				font-size 50px
			&:hover
				background-color darken(primary, 20%)
	.tweets1
		h3
			font-size 17px
			color primary
			font-weight 800
		h5
			font-size 14px
			color primary
.widget5
	form
		margin-bottom 0
		.fb2
			height 126px
			outline none
			border none
			background-color primary
			padding 40px
			h4
				font-weight 700
				color gray
	.sidebox
		.btn
			transition 0.5s all
			background-color primary
			padding-top 45px
			height 126px
			width 100%
			border 0
			border-radius 0
			&:hover
				background-color darken(primary, 20%)
	.fb1
		h3
			font-size 17px
			color primary
			font-weight 800
		h5
			font-size 14px
			color primary

.widget6
	.construction_brands
		.owl-theme
			.owl-controls
				.owl-buttons
					.owl-prev
						position absolute
						left 0px
						top 0
						font-size 30px
						padding-left 20px
						padding-right 20px
						padding-top 5px
						padding-bottom 5px
						background-color alpha(gray, 50%)
						border 1px solid transparent
						&:hover
							background-color primary
							color white
							border 1px solid primary
					.owl-next
						position absolute
						left 54px
						top 0
						font-size 30px
						padding-left 20px
						padding-right 20px
						padding-top 5px
						padding-bottom 5px
						background-color alpha(gray, 100%)
						border 1px solid alpha(gray, 100%)
						&:hover
							background-color primary
							border 1px solid primary
							color white
					div
						margin-top 30px
						margin-bottom 30px
						line-height 40px
						border-radius 0
						padding 0
						color white
						opacity 1
						&:hover
							transition 0.5s all
							color white
