.blog-widget-heading
	position relative
	margin 0px 0px 40px
	float left
	width 90%
	h6
		text-align center
		border: 1px solid #F3F1F1;
		text-transform uppercase
		padding 13px 0px
		font-weight bold
		font-size 17px
		border-radius 4px
		background-color #FBFBFB;
		color darken(white, 60%)
	.input-search
		out-line none
		border-shadow: none
		&:focus
			border-color darken(white, 30%)
			border-shadow: none !important
			out-line none !important
	.contact-widget
		ul
			padding 50px 0px 0px 0px
			text-align center
			li
				display inline-block
				position relative
	.widgets-tags
		.tags
			padding 50px 20px 0px 20px
			text-align center
			list-style none
			
			li
				display inline-block
				margin 4px 0px
				text-transform capitalize
				padding 4px 2px
				
				a
					color lighten(black, 40%)
					background-color lighten(black, 90%)
					font-weight 200
				.badge
					padding 8px 12px
					font-weight 200
					color #000
	.twitts
		padding-top 10px
		.media-left
			.tweet-img
				img
					width 220px !important
					height 90px
		.media-right
			.tweet-date
				color darken(white, 70%)
				text-transform capitalize
				font-weight 200
							
			
		
		 
.form-control:focus
	box-shadow none !important
	webkit-box-shadow none !important