.head-box
	// background url(../img/pattren/1.jpg)
	margin 60px 0px
	h2
		margin-top 15px
		color gray
		font-size 40px !important
		font-weight 100
		text-transform uppercase
		word-spacing 0.9
		span
			color primary
			font-size 40px !important
			font-weight 900
			word-spacing 0.9
	small
		position relative
		top 0px
		text-transform capitalize	
		font-size 15px
		color gray
		font-weight 100px
	.line
		position relative
		top 0
		background-color primary
		margin-top 10px
		height 2px
		width 100px
		margin 15px auto
		text-align center
	p
		color darken(white,60%)
		font-size 16px
		font-weight 200
		letter-spacing 0.9px
		word-spacing 0.9px