.upack-default-footer
	background-color alpha(#333, 20%)
	.heading
		h5
			font-weight 100
			text-align center
			background-color #333
			color white
			padding 10px
	.first-notes1
		margin-top 80px
		margin-bottom 20px
		// background-color alpha(white, 20%)
		border-bottom 2px solid #333 !important
		ul
			padding 0px !important
			margin 0px !important
			li
				cursor pointer
				padding-top 8px
				padding-bottom 8px
				margin 5px
				background-color alpha(#333, 10%)
				border 1px dotted darken(white, 50%)
				// border-bottom 1px solid darken(white, 50%)
				list-style none
				a
					text-transform capitalize
					color #333
				&:before
					content: "\f101"
					position relative
					top 2px
					padding-right 5px
					padding-left 10px
					float left
					font: normal normal normal 14px/1 FontAwesome
				&:hover
					background-color alpha(primary, 15%)
	.first-notes2
		margin-top 80px
		margin-bottom 20px
		ul
			padding 0px !important
			margin 0px !important
			li
				cursor pointer
				padding-top 8px
				padding-bottom 8px
				margin 5px
				background-color alpha(#333, 10%)
				border 1px dotted darken(white, 50%)
				// border-bottom 1px solid darken(white, 50%)
				list-style none
				a
					text-transform capitalize
					color #333
				&:before
					content: "\f0a4"
					position relative
					top 2px
					padding-right 5px
					padding-left 10px
					float left
					font: normal normal normal 14px/1 FontAwesome
				&:hover
					background-color alpha(primary, 15%)
	.sub-notes
		padding 0
		// background-color alpha(white, 20%) !important
	.brands-custom
		background-color #333 !important
	.carouselsss
		border-bottom 2px solid #333
		#c-carousel
			background-color #ffe
			position relative
			// min-height: 300px
		#wrapper 
			background-color alpa(primary, 10%)
			// border-top 1px solid #ccc
			width 100%
			// height 350px
			position relative
			left 0
			bottom 0px
		#cool57
			margin-bottom 5px
		#cool57 div
			text-align center
			float left
			position relative
			margin-left 10px
		#cool57 div img
			transition 0.5s all
			border 1px solid #333
			cursor pointer
			width 100%
			height auto
		#cool57 div span
			transition 0.5s all
			display none
		#cool57 div:hover span,
		#cool57 div.hover span
			background-color primary
			width 100%
			transition 1s all
			color #fff
			cursor pointer
			display inline-block
			// width 100px
			padding 2px 0
			// margin 0 0 0 -50px
			position absolute
			bottom 0
			left 0
			z-index 1000
			border-radius 0px
		#cool57 div:hover img
			border-color primary
		#pager
			text-align center
			margin-bottom 5px
			// transition
		#pager a
			background alpha(#333, 30%)
			display inline-block
			border-radius 5px
			width 10px
			height 10px
			margin 0 2px
		
		#pager a.selected
			background alpha(#333, 80%)
		#pager a:hover
			background primary
		
		#pager a span
			display none
	.first-notes4
		overflow hidden
		margin-top 80px
		margin-bottom 20px
		// background-color alpha(white, 20%)
		border-bottom 2px solid #333 !important
		.description
			margin-top 5px
			padding 15px
			background-color alpha(#333, 5%)
			border-top 1px dotted #333
			border-bottom 1px dotted #333
			p
				color darken(white, 40%)
		input
			margin-top 20px
			box-shadow none
			outline none
			padding-left 20px
			padding-top 8px
			padding-right 8px
			padding-bottom 8px
			// padding 8px 20px 8px 8px
			margin-bottom 5px
			background-color alpha(#333, 5%)
			border 1px solid #333
			width 100%
			&:hover
				border-color primary
			&:focus
				border-color primary
		button.btn
			margin-top 5px
			border-radius 0px
			width 100%
			background-color #333
			border-color #333
			color white
			letter-spacing 0.9px
			font-size 15px
			transition 0.5s all
			span
				overflow hidden
				position relative
				color white
				top 2px
				left 0
				padding-left 15px
			&:hover
				background-color lighten(primary, 10%)
				border-color lighten(primary, 10%)
			&:focus
				outline none
				span
					transition 5s all
					transform scale(2)
					top -700px
					left 700px
		.address
			padding 15px
			margin-top 20px
			margin-bottom 10px
			.office, .email, .phone
				margin-top 12px
				h6
					font-weight bold
					// font-size 15px
					
					span
						color darken(white, 40%)
						font-weight 100
		ul
			text-align center
			padding 10px
			li
				text-align center
				margin-left 5px
				margin-top 20px
				margin-bottom 20px
				text-align center
				.icon-frame-primary
					transform rotate(45deg)
					transition 0.5s all
					&:hover
						transform rotate(-45deg) !important
						.fa
							transform rotate(45deg)
				.fa
					transform rotate(-45deg)
	.footer-bottom-panel
		background-color #333
		width 100%
		.left-description
			h5
				font-size 17px
				// padding 40px
				color white
				padding	20px
		.right-description
			p
				font-size 17px
				// padding 40px
				padding	20px
				color white
				
	// .sun
	// 	img
	// 		cursor pointer
	// 		position relative
	// 		width: 3020px
	// 		left: 0px
	// 		display: block
	// 		transition: all 1000ms ease
	// 		&:hover
	// 			transform: translate3d(100px, 50px, 200px)
	// 			// position relative
	// 			left 40%
	// 			top 20%
				
					