.page-footer2
	// position relative
	// background-color darken(white, 95%)
	.title
		margin-top 50px
		text-transform uppercase
		font-weight 400
		color #bbb
	.para
		color #bbb
		font-size 14px
	.links
		ul
			li
				padding 4px 0
				a
					font-size 14px
					text-decoration none
	.tweet-link	
		li
			a
				padding 0
				margin 0
				color primary
			&:hover
				a
					color lighten(primary, 40%)
	.adress-link
		font-size 14px
		.addr
			color #bbb
		.phone
			color #bbb
			padding 10px 0
			span
				font-size 14px
				color secondary
		.fax
			color #bbb
			padding 8px 0
			span
				font-size 14px
				color secondary
				
		.mail
			color #bbb
			text-transform capitalize
			span
				font-size 14px
				color secondary			
	.copyright
		margin 30px 0
		color #bbb
		p
			font-size 14px
			padding-top 15px
			text-align left
.social-group
	margin 15px 0
	text-align right
.social-icon
	width 40px
	height	40px
	display inline-block
	text-align center
	background-color transparent
	color white
	border-style solid
	border-width 1px
	transition all 0.5s
	border-radius 50%
	margin-left 5px
	border-color primary
	&:hover
			background-color primary
			color white
	.fa
		line-height 40px
		font-size 15px
		&:hover
			color white

.img-footer
	padding-top 110px
	padding-left 25px
	li
		padding 0
		img
			width 50px
			height 50px
			