.reg-page
	color darken(white,10%)
	padding 30px
	border 1px solid darken(white,10%)
	box-shadow 0px 0px 10px
	background-color darken(white,1%)
	margin-bottom 35px
	.reg-header
		color darken(white,50%)
		text-align center
		margin-bottom 35px
		h2
			font-size 24px
			margin-bottom 15px
			text-transform capitalize
	label
		display-inline block
		max-width 100%
		margin-bottom 5px
		font-weight 700
	input
		margin-bottom 25px
		box-shadow none
			.checkbox
				position relative
				display block
				margin 10px 0px
	.form-control
		&:hover
			// background-color red
		&:focus
			// background-color green
			box-shadow none
			border-color darken(white,30%)
		&:active
			box-shadow none
			border-color darken(white,30%)
			// background-color pink
		&:visited
			// background-color orange