.reg-page
	color darken(white,10%)
	padding 40px
	border 1px solid darken(white,10%)
	box-shadow 0px 0px 10px
	background-color darken(white,1%)
	margin-top 30px
	.login-head
		color darken(white,70%)
		text-align center
		margin-bottom 35px
		h2
			font-size 24px
			margin-bottom 15px
			text-transform capitalize
	.input-group-addon
		background-color transparent
		border-radius 0px
		color darken(white,30%)
	.forget
		color darken(white,70%)
		h4
			margin-top 5px
			margin-bottom 5px