.signup-section
	background url("../img/content/layer-slider/jellyfish-blur.jpg")
	background-size cover
	background-attachment fixed
	background-repeat no-repeat
	// height 100%
	// width 100%
	// overflow hidden