mixin services-ethink()
	div&attributes(attributes)#services-enthink.services-ethink.mb80
		.container
			.row
				.col-md-12
					+section_title("what are your expectations from us", "our", "services")
				.col-md-12.mt40.mb20
					+enthink-imgbox-1('col-md-12', 6, 'construction/enthink/services')