.contact-para
	font-weight 200px
	margin-top 40px
	font-size 22px		
	
.input-mesg
	border-width 0			
	color #000
	padding 20px
	border-radius 0
	width 100%
	outline none
	background-color lighten(black, 95%)
	// background-color #777
	border-color #EFF3F5
	font-size 15px
	&:focus
		color white
		background-color darken(primary, 20%)
		// background-color colors["primary"];
		transition 0.50s all
	
@media(max-width 992px)
	.input-mesg
	.input-blog
		margin-top 15px
.input-blog
	border 1px solid			
	color #000
	padding 18px
	border-radius 0
	width 100%
	outline none
	background-color lighten(black, 98%)
	border-color #EFF3F5
	font-size 15px
	&:focus
		color black
		background-color lighten(black, 99%)
		transition 0.50s all