.contact-default
	.input-group
		.form-control
			&:hover
			&:focus
				box-shadow none
				out-line none
				border-color darken(white,30%)
			&:active
				box-shadow none
				border-color darken(white,30%)
		.input-group-addon
			background-color white
			border-radius 0px

.contact-simple
	form
		label
			font-weight 600
			margin-bottom 8px
		.input-group
			width 100%
			.form-control
				width 100%
				&:hover
				&:focus

					box-shadow none
					border-color darken(white,30%)
				&:active
					box-shadow none
					border-color darken(white,30%)

		.location
			margin-bottom 20px
			ul
				list-style none
				li
					padding-bottom 15px
					i
						padding-right 8px
						font-size 14px
					a
						color primary
			