mixin blog3column()
    section
        .container
            .row
                .col-md-12
                    +blog-3-column()
                .col-md-12.text-center
                    +activepage()
                .mb100
mixin blog2column()
    section
        .container
            .row
                .col-md-12
                    +blog-2-column()
                .col-md-12.text-center
                    +activepage()
                .mb100
mixin blogdetails()
    section
        .container
            .row
                .col-md-12
                    +blog-detail()
                .col-md-12.text-center
                    +activepage()
                .mb100
                    
mixin blogdetails-right()
    section
        .container
            .row
                .col-md-8
                    +blog-detail()
                .col-md-4.mt20
                    +blog-sidebar()
                .col-md-12.text-center
                    +activepage()
                .mb100
mixin blogdetails-left()
    section
        .container
            .row
                .col-md-4.mt20
                    +blog-sidebar()
                .col-md-8
                    +blog-detail()
                .col-md-12.text-center
                    +activepage()
                .mb100

mixin blog-detail-post-page()
    section
        .container
            .row
                .col-md-4.mt20
                    +blog-sidebar()
                .col-md-8
                    +blog-detail-post()
                .col-md-12.text-center
                    +activepage()
                .mb100
