.contact-maskutravel
	background url('../img/travel/makutravel/background/0.jpg')
	background-attachment fixed
	background-size cover
	.alpha
		background-color alpha(white, 90%)
	.heading
		.lower
			left -51px
	.makutravel-section_title
		.heading
			.text
				.title
					.lower
						right 10px
	form
		button
			color white
			transition 0.5s all
			background-color primary
			box-shadow: inset 0px 3px 5px darken(primary, 30%);
			&:hover
				color white
				background-color lighten(primary, 10%)