.pricing-table-comp-1
	.btn-c-primary
		top -20px
		
	.title
		background-color darken(blue,80%)
		font-size 22px
		letter-spacing 0.9px
		line-height 20px
		padding 20px 0px
		text-align center
		h2
			color darken(white,25%)
			text-transform uppercase
			
	.circle
		padding 20px 0px
		// border 2px solid black
		// border-radius 50%
		background-color primary
		h3
			color lighten(white,45%)
			text-align center
			border 3px solid white
			border-radius 50%
			height 100px
			width 100px
			line-height 100px
			margin 0 auto
			font-size 28px
			small
				color lighten(white,45%)
				
	.para
		text-align center
		border-left 1px solid darken(white,20%)
		border-right 1px solid darken(white,20%)
		// padding 5px 0px
		p
			color black
			font-size 14px
			letter-spacing 0.9px
			word-spacing 0.3px
		.para2
			background-color alpha(black,10%)
			// line-height 15px
.prices22-section
	background url("../img/content/layer-slider/jellyfish-blur.jpg")
	background-repeat no-repeat
	background-size cover
	.pricing-table-comp-2
		background-color darken(primary,60%) 
		padding 20px 0px
		.title
			font-size 22px
			letter-spacing 0.9px
			text-align center
			h2
				color darken(white,25%)
				text-transform uppercase
		.amount-dis
			text-align center
			font-size 52px !important
			color darken(white,25%)
			h2
			sup
				font-size 22px
			sub
				font-size 22px
	.sec-block
		padding 50px 0px
		background-color darken(white,3%)
		border 2px solid darken(white,10%)
		text-align center
		ul
			li
		hr
			width 50%
.pricing-table-comp-3
	border 2px solid black
	border-radius 10px
	.main-head
		text-align center
		background-color lighten(primary,10%)
		border-radius 8px 8px 0px 0px
		padding 10px 0px
		h2
			text-transform uppercase
			letter-spacing 0.9px
			padding 5px 0px
			font-size 22px
			font-weight 500
		strong
			font-size 38px
			font-weight 600
	.icon
		text-align center
		padding 15px 0px
		i
			font-size 68px
	.discription
		text-align center
		strong
			font-size 16px
		p
			font-size 18px
			text-transform capitalize
	.text-center
		.btn-c-primary
			border-radius 5px
			padding 10px 30px
			
			
	
			