.shop1
	form
	.info
		color black
		font-size 16px
		font-weight 900
		letter-spacing 0.6px
		word-spacing 0.3px
	.form-group
		textarea
			&:hover
				background-color darken(white,3%)
			&:focus
				box-shadow none
				border-color darken(white,30%)
			&:active
				box-shadow none
				border-color darken(white,30%)
		.input-group
			.input-group-addon
				background-color white !important
			.form-control
				&:hover
					background-color darken(white,3%)
				&:focus
					// background-color green
					box-shadow none
					border-color darken(white,30%)
				&:active
					box-shadow none
					border-color darken(white,30%)
					// background-color pink
				&:visited
					background-color red