.medicl-headings
	padding 50px 0px
	text-align center
	text-transform uppercase
	color lighten(black, 30%)
	position relative
	font-size 42px
	word-spacing 2px
	h1
		font-weight 100
		// font-size 32px
		span
			// font-size 32px
			font-weight 900
			color primary
			letter-spacing 1px
		
	
	&:before
		content ''
		position absolute
		width 15%
		height 1px
		top 100px
		left 43%
		// margin-left auto
		// margin-right auto
		display block
		border 1px dotted #777

.staff-section
	background-color lighten(black, 95%)
.staff-para
	color lighten(black, 60%)
	text-transform capitalize
.service-para
	text-align center
	font-weight 100
	color lighten(black, 40%)
.medical-footer
	background-color rgb(23, 166, 182)
	.main-head
		padding-left 30px
		a
			color white
			text-decoration none
			&:hover
				color lighten(primary,20%)

.lower-footer
	background-color rgb(23, 166, 182)
	a
		font-size 14px
		color darken(white,20%)
		text-decoration none
		&:hover
			color white
	.footer-para
		p
			font-size 14px
			color darken(white,20%)
.border4
	height 300px
	border-left 1px solid white 
.appointment-news
	margin 0 !important
	padding 0px !important
	background url('../img/medical/appp.jpg')
	background-attachment fixed	
	background-size cover
	background-repeat no-repeat
	// height 100%
	// width 100%
	.head-box
		h2
			color white
		small
			color white