mixin portfolio2columnnospacefullwidth()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+nospacefullwidth2column()

mixin portfolio3columnnospacefullwidth()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+nospacefullwidth3column()

mixin portfolio4columnnospacefullwidth()
	section
		.container-fluid
			.row
				.col-md-12.no-padding
					+nospacefullwidth4column()
