mixin comp-buttons()
    section.comp-buttons
        .container
            .row
               
               .col-md-8
                    h2.comp-title buttons
                    hr
                    h2.comp-titles twitter bootstrap buttons
                    h3.btn-title small  
                    

                    //=== DEFAULT SMALL===

                    +btn-bootstrap-sm("btn-default ","default")
                    

                    //=== PRIMARY SMALL===

                    +btn-bootstrap-sm("btn-primary ","primary")
                    

                    //=== INFO SMALL===


                    +btn-bootstrap-sm("btn-info ","info") 

                    //=== SUCCESS SMALL===


                    +btn-bootstrap-sm("btn-success ","success")
                    

                    //=== WARNING SMALL ===
                    
                    +btn-bootstrap-sm("btn-warning ","warning")
                    

                    //=== DANGER SMALL===
                    
                    +btn-bootstrap-sm("btn-danger ","danger")


                    h3.btn-title medium 
                    

                    //=== DEFAULT MEDIUM ===
                    
                    +btn-bootstrap-md("btn-default","default")
                    

                    //=== PRIMARY MEDIUM===
                    
                    +btn-bootstrap-md("btn-primary","primary")
                    

                    //=== INFO MEDIUM===
                    
                    +btn-bootstrap-md("btn-info","info")
                    

                    //=== SUCCESS MEDIUM===
                    
                    +btn-bootstrap-md("btn-success","success")
                    

                    //=== WARNING MEDIUM ===
                    
                    +btn-bootstrap-md("btn-warning","warning")
                    

                    //=== DANGER MEDIUM===
                    
                    +btn-bootstrap-md("btn-danger","danger")

                    

                    h3.btn-title large
                    
                    //=== DEFAULT LARGE
                    
                    +btn-bootstrap-lg("btn-default","default")
                    

                    //=== PRIMARY LARGE===
                    
                    +btn-bootstrap-lg("btn-primary","primary")
                    

                    //=== INFO LARGE===
                    
                    +btn-bootstrap-lg("btn-info","info")
                    

                    //=== SUCCESS LARGE===
                    
                    +btn-bootstrap-lg("btn-success","success")
                    

                    //=== WARNING LARGE ===
                    
                    +btn-bootstrap-lg("btn-warning","warning")
                    

                    //=== DANGER LARGE===
                    
                    +btn-bootstrap-lg("btn-danger","danger")


                    //=== TWITTER BOOTSTRAP FLATE BUTTONS START HERE === 
                    
               
                    hr
                    h2.comp-titles twitter bootstrap flate buttons
                    h3.btn-title small  
                    
                    //=== DEFAULT SMALL===
                    
                    +btn-bootstrap-sm("btn-default no-bdr-rad","default")
                    

                    //=== PRIMARY SMALL===
                    
                    +btn-bootstrap-sm("btn-primary no-bdr-rad","primary")
                    

                    //=== INFO SMALL===
                    
                    +btn-bootstrap-sm("btn-info no-bdr-rad","info")
                    

                    //=== SUCCESS SMALL===
                    
                    +btn-bootstrap-sm("btn-success no-bdr-rad","success")
                    

                    //=== WARNING SMALL ===
                    
                    +btn-bootstrap-sm("btn-warning no-bdr-rad","warning")
                    

                    //=== DANGER SMALL===
                    
                    +btn-bootstrap-sm("btn-danger no-bdr-rad","danger")


                    h3.btn-title medium 
                    

                    //=== DEFAULT MEDIUM
                    
                    +btn-bootstrap-md("btn-default no-bdr-rad","default")
                    

                    //=== PRIMARY MEDIUM===
                    
                    +btn-bootstrap-md("btn-primary no-bdr-rad","primary")
                    

                    //=== INFO MEDIUM===
                    
                    +btn-bootstrap-md("btn-info no-bdr-rad","info")
                    

                    //=== SUCCESS MEDIUM===
                    
                    +btn-bootstrap-md("btn-success no-bdr-rad","success")
                    

                    //=== WARNING MEDIUM ===
                    
                    +btn-bootstrap-md("btn-warning no-bdr-rad","warning")


                    //=== DANGER MEDIUM===
                    
                    +btn-bootstrap-md("btn-danger no-bdr-rad","danger")

                    

                    h3.btn-title large
                    

                    //=== DEFAULT LARGE ===
                    
                    +btn-bootstrap-lg("btn-default no-bdr-rad","default")
                    

                    //=== PRIMARY LARGE===
                    
                    +btn-bootstrap-lg("btn-primary no-bdr-rad","primary")
                    

                    //=== INFO LARGE===
                    
                    +btn-bootstrap-lg("btn-info no-bdr-rad","info")


                    //=== SUCCESS LARGE===
                    
                    +btn-bootstrap-lg("btn-success no-bdr-rad","success")


                    //=== WARNING LARGE ===
                    
                    +btn-bootstrap-lg("btn-warning no-bdr-rad","warning")


                    //=== DANGER LARGE===
                    
                    +btn-bootstrap-lg("btn-danger no-bdr-rad","danger")


                    //=== TWITTER BOOTSTRAP FLATE BUTTONS START HERE === 


                    hr
                    h2.comp-titles background transitions
                    h3.btn-title small



                    //=== TRANSITION SMALL BOUNCE TO LEFT === 
                    
                    +btn-transition-sm("hvr-bounce-to-left","bounce-to-left")


                    //=== TRANSITION SMALL BOUNCE TO RIGHT === 
                    
                    +btn-transition-sm("hvr-bounce-to-right","bounce-to-right")


                    //=== TRANSITION SMALL BOUNCE TO TOP === 
                    
                    +btn-transition-sm("hvr-bounce-to-top","bounce-to-top")


                    //=== TRANSITION SMALL BOUNCE TO BOTTOM === 
                    
                    +btn-transition-sm("hvr-bounce-to-bottom","bounce-to-bottom")

                    h3.btn-title medium


                    //=== TRANSITION MEDIUM BOUNCE TO LEFT === 
                    
                    +btn-transition-md("hvr-bounce-to-left","bounce-to-left")


                    //=== TRANSITION MEDIUM BOUNCE TO RIGHT === 
                    +btn-transition-md("hvr-bounce-to-right","bounce-to-right")


                    //=== TRANSITION MEDIUM BOUNCE TO TOP === 
                    +btn-transition-md("hvr-bounce-to-top","bounce-to-top")


                    //=== TRANSITION MEDIUM BOUNCE TO BOTTOM === 
                    +btn-transition-md("hvr-bounce-to-bottom","bounce-to-bottom")

                    h3.btn-title large


                    //=== TRANSITION LARGE BOUNCE TO LEFT === 
                    +btn-transition-lg("hvr-bounce-to-left","bounce-to-left")


                    //=== TRANSITION LARGE BOUNCE TO RIGHT === 
                    +btn-transition-lg("hvr-bounce-to-right","bounce-to-right")


                    //=== TRANSITION LARGE BOUNCE TO TOP === 
                    +btn-transition-lg("hvr-bounce-to-top","bounce-to-top")


                    //=== TRANSITION LARGE BOUNCE TO BOTTOM === 
                    +btn-transition-lg("hvr-bounce-to-bottom","bounce-to-bottom")


                    h3.btn-title xlarge

                    //=== TRANSITION XLARGE BOUNCE TO TOP ===

                    +btn-transition-xlg("hvr-bounce-to-top","bounce-to-top")


                    //=== TRANSITION XLARGE BOUNCE TO LEFT ===

                    +btn-transition-xlg("hvr-bounce-to-left","bounce-to-left")

                    //=== TRANSITION XLARGE BOUNCE TO RIGHT ===

                    //- +btn-transition-xlg("hvr-bounce-to-right","bounce-to-right")

                    
                    hr
                    h2.comp-titles theme buttons
                    h3.btn-title small

                    //== custom design small button primary ===

                    +btn-theme-sm("btn-c-primary","primary")
                    +btn-theme-sm("btn-c-secondary","secondary")
                    +btn-theme-sm("btn-c-green","green")
                    +btn-theme-sm("btn-c-blue","blue")
                    +btn-theme-sm("btn-c-gray","dark")
                    h3.btn-title medium

                    //== custom design medium button primary ===

                    +btn-theme-md("btn-c-primary","primary")
                    +btn-theme-md("btn-c-secondary","secondary")
                    +btn-theme-md("btn-c-green","green")
                    +btn-theme-md("btn-c-blue","blue")
                    +btn-theme-md("btn-c-gray","dark")
                    
                    h3.btn-title large

                    //== custom design large button primary ===

                    +btn-theme-lg("btn-c-primary","primary")
                    +btn-theme-lg("btn-c-secondary","secondary")
                    +btn-theme-lg("btn-c-green","green")
                    +btn-theme-lg("btn-c-blue","blue")
                    +btn-theme-lg("btn-c-gray","dark")
                    h3.btn-title xlarge

                    //== custom design xlarge button primary ===

                    +btn-theme-xlg("btn-c-primary","primary")
                    +btn-theme-xlg("btn-c-secondary","secondary")
                    +btn-theme-xlg("btn-c-green","green")
                    +btn-theme-xlg("btn-c-blue","blue")

                    
                    hr
                    h2.comp-titles theme buttons inverse
                    h3.btn-title small

                    //== custom design small inverse button primary  ===
                    +btn-theme-sm-inv("btn-c-primary","primary")


                    h3.btn-title medium

                    //== custom design medium inverse button primary  ===
                    +btn-theme-md-inv("btn-c-primary","primary")

                    h3.btn-title large
                    //== custom design large inverse button primary  ===

                    +btn-theme-lg-inv("btn-c-primary","primary")
                    h3.btn-title xlarge
                    
                    //== custom design xlarge inverse button primary  ===
                    +btn-theme-xlg-inv("btn-c-primary","primary")

                    hr
                    h2.comp-titles theme buttons with icons
                    
                    h3.btn-title small

                    //=== DESIGN SMALL BUTTONS WITH ICONS 

                    +btn-icon-sm("btn-c-primary", "our team", "fa-users" )
                    +btn-icon-sm("btn-c-secondary", "user", "fa-user" )
                    +btn-icon-sm("btn-c-green","green", "fa-user" )
                    +btn-icon-sm("btn-c-blue","blue", "fa-user")
                    +btn-icon-sm("btn-c-gray","dark", "fa-user")
                    
                    h3.btn-title medium

                    //=== DESIGN MEDIUM BUTTONS WITH ICONS


                    +btn-icon-md("btn-c-primary", "our team", "fa-users" )
                    +btn-icon-md("btn-c-secondary", "user", "fa-user" )
                    +btn-icon-md("btn-c-green","green", "fa-user" )
                    +btn-icon-md("btn-c-blue","blue", "fa-user")
                    +btn-icon-md("btn-c-gray","dark", "fa-user")

                    h3.btn-title large

                    //=== DESIGN LARGE BUTTONS WITH ICONS


                    +btn-icon-lg("btn-c-primary", "primary", "fa-user" )
                    +btn-icon-lg("btn-c-secondary", "user", "fa-user" )
                    +btn-icon-lg("btn-c-green","green", "fa-user" )
                    +btn-icon-lg("btn-c-blue","blue", "fa-user")
                    +btn-icon-lg("btn-c-gray","dark", "fa-user")
                    h3.btn-title xlarge
                    //=== DESIGN XLARGE BUTTONS WITH ICONS


                    +btn-icon-xlg("btn-c-primary", "primary", "fa-user" )
                    +btn-icon-xlg("btn-c-secondary", "secondary", "fa-user" )
                    +btn-icon-xlg("btn-c-green","green", "fa-user" )

               .col-md-4
                    +component-nav()