extends ../../../views/layout/main.jade
block main_content
	+navbar-pack().navbar-fixed-top.navbar-default.navbar-dark
	+vsliders()
	+call-out-btn-right()
	+footer-1()
	include ../../../models/switcher/switcher.jade
	include ../../../models/back-to-top/back-to-top.jade
	include ../../../models/loder/loder.jade