//- include framework files

include ../../framework/jade/all.jade

- theme_name		=	'MediaCulture'

- is_demo 			= 	true

- stylesheet 		=	'css/styles.css'

//- resources
- js 				=	['frameworks/jquery/jquery.js', "frameworks/bootstrap/js/bootstrap.js","frameworks/mixitup/src/mixitup.js" ,"frameworks/magnific/jquery.magnific-popup.js","frameworks/vegas/vegas.js","frameworks/bootstrap-submenu/js/bootstrap-submenu.js","frameworks/modenizer/modernizr.custom.js","frameworks/rsplugin/jquery.touchSwipe.js","frameworks/rsplugin/respond.min.js","frameworks/rsplugin/js/jquery.themepunch.plugins.min.js","frameworks/rsplugin/js/jquery.themepunch.revolution.min.js","frameworks/rsplugin/js/jquery.themepunch.tools.min.js","frameworks/validate.js","frameworks/share-btn/build/share.js","frameworks/bootstrap-submenu/js/bootstrap-submenu.js","frameworks/peace/pace.js","frameworks/wow/wow.js","js/custom.js"]

- css				=	['frameworks/bootstrap/css/bootstrap.min.css', "frameworks/font-awesome/css/font-awesome.css","frameworks/vegas/vegas.css", "frameworks/magnific/magnific-popup.css","frameworks/bootstrap-submenu/css/bootstrap-submenu.css","frameworks/demo_hover_scroll/jquery.hoverscroll.css","frameworks/music_flat_icons/font/flaticon.css","frameworks/bootstrap-submenu/css/bootstrap-submenu.css","frameworks/peace/pace-theme-flash.css","frameworks/aveir-font/avenirlstd.css"]


//- 
- images_folder 	=	'img'
- js_folder			=	'js'
- custom_js 		=	'theme.js'

//- whether the font awesome is loaded or not.
- is_fa 			=	true 

//- navbar related configs
- brand_type 		= 	'name'
- navbar_brand 		=	theme_name
- brand_link_active =	true
- home_link 		= 	'index.html'