extends ../../views/layout/main.jade
block main_content
	+navbar-pack().navbar-fixed-top.custom-navbar.navbar-default.navbar-white
	- pagesmainheading=("blog post")
	- directionheading=("blog post full width")
	+portfolio-header()
	.mt50
	+blogdetails()
	+footer-1()
	include ../../models/switcher/switcher.jade
	include ../../models/back-to-top/back-to-top.jade
	include ../../models/loder/loder.jade

