//- COLLAPSE-1 CODED HERE
mixin collapse-1()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h2.comp-title Collapse Components
					hr
					.icons.mt40
						.content-top-heading
							h4.comp-titles Collapse - I
						hr
					+collapse1()
				.col-md-4
					+component-nav()
				//- COLLAPSE-2 CODED HERE
				.col-md-8
					.icons.mt40
						.content-top-heading.mt80
							h3.comp-titles Collapse - II
							
						hr
					+collapse2()
					//- COLLAPSE-3 CODED HERE
				.col-md-8
					.icons.mt40
						.content-top-heading.mt80
							h3.comp-titles Collapse - III
							
						hr
					+collapse3()
				.col-md-8
					.icons.mt40
						.content-top-heading.mt80
							h3.comp-titles Collapse - IV
							
						hr
					+collapse4()
				.col-md-8
					.icons.mt40
						.content-top-heading.mt80
							h3.comp-titles Collapse - V
							
						hr
					+collapse5()
				.col-md-8
					.icons.mt40
						.content-top-heading.mt80
							h3.comp-titles Collapse - VI
							
						hr
					+collapse6()
						