.quote-enthink
	background : url(../img/construction/enthink/quote/0.jpg)
	background-repeat no-repeat
	background-size cover
	background-attachement fixed
	.alpha
		background-color alpha(#202E31, 90%)