.vegas-medical
	position  relative
	height 100% !important
	width 100%
	text-align center
	.intro-text
		h1 
			font-size 36px
			font-weight 200
			letter-spacing 1.5px
			// color primary
			color darken(white,10%)
			text-transform uppercase
			span
				font-size 48px
				letter-spacing 0.9px
				color primary
				font-weight 900
				font-weight bold
		p
			color darken(white,20%)
			padding 0px 80px
			margin-top 25px
			line-height 25px
			letter-spacing 1px
			font-size 20px
			font-weight 100
			margin-bottom 30px
			// text-transform capitalize
		
@media(max-width 667px)
	.intro-text
		h1
			font-size 34px !important
		p
			padding 0px 50px !important
@media(max-width 592px)
	.intro-text
		h1
			transition .5s all
			font-size 28px !important		
			span
				font-size 28px !important
		p
			display none
			padding 0px 10px !important
		.btn-c-primary
			margin-top 20px
			font-size 12px
			transition .5s all

// @media(min-width 593) and (max-width 768px)
// 	.intro-text
// 		h1
// 			transition .5s all
// 			font-size 28px !important
// 			background-color red !important
// 			color green
// 			span
// 				font-size 28px !important

.table-med
	position relative
	display table
	height 100% !important
	width 100% !important
.table-med-row
	display table-cell
	width 100% !important
	height 100% !important
	vertical-align middle