.typo-title
	color primary
	text-transform uppercase
	margin 30px 0px
.typography-styl
	.headings-tags
		h1,h2,h3,h4,h5,h6
		p
			padding 10px 0
	.contextual-paras
		p
			padding 10px 0px
	.list-inline-text
		li
			padding 10px 0px
	.icon-list
		li 
			text-transform capitalize
			padding 10px 0px
			i
				padding 0 10px
	.blockquote1
		blockquote
			background-color darken(white,5%)
			border-color primary
		p
			color lighten(black,60%)
			line-height 20px
			span
				color darken(primary,30%)
		.blockq
			span
				color darken(white,50%)
	.blockquote2
		blockquote
			color primary !important
		
	.cap-para1
			p
				span
					color primary
					float left
					font-size 45px
					p
						float left
						line-height 25px
						letter-spacing 0.9px
						word-spacing 0.6px
						font-size 16px
	.cap-para2
		p
			span
				background-color primary
				float left
				font-size 45px
				p
					float left
					line-height 25px
					letter-spacing 0.9px
					word-spacing 0.6px
					font-size 16px