mixin typo-heading()
    .typography-styl
        div.headings-tags
            h1 Headding (h1 Tag)
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            h2 Heading (h2 Tag)
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            h3 Heading (h3 Tag)
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            h4 Heading (h4 Tag)
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            h5 Heading (h5 Tag)
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            h6 Heading (h6 Tag)
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
mixin typo-contextual-color()
    .typography-styl
        div.contextual-paras
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            p.text-muted.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            p.text-primary.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            p.text-success.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            p.text-info.
                Lorem ipsum dolor sit amet, consectetur a   dipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            p.text-warning.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.

            p.text-danger.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
mixin block-qotes()
    .typography-styl
        .row
            .col-md-6
                .blockquote1

                    blockquote
                        p.pv15.

                            Darkness cannot drive out darkness: only light can do that.
                            Hate cannot drive out hate: only love can do that.  
                            
                        .blockq
                            span Martin Luther King Jr.
            .col-md-6
                .blockquote2
                    blockquote
                        .fa.fa-quote-left
                        p.

                            Darkness cannot drive out darkness only light can do that.
                            Hate cannot drive out hate: only love can do that.
                        span    Martin Luther King Jr. 

mixin dropcaps()
    .typography-styl
        .row
            .text-left
                .col-md-6
                    .cap-para1  
                        p
                            span M 
                                p.
                                    ost lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur italic text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant tonsemplate.
                .col-md-6
                    .cap-para2
                        p
                            span.clr-white.pt0.pb5.ph10.mr10 M 
                                p.
                                    ost lorem ipsum is a simple and highlighted text with tons of features. Lorem ipsum dolor sit amet, consectetur bold text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant template with tons of features. Jomelle is a link and elegant template with tons of features. Lorem ipsum dolor sit amet, consectetur italic text, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Jomelle is a simple and elegant tonsemplate. 
mixin bootstrap-columns()
    .typography-styl
        .text-left
            .col-md-6
                h2 1/2 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua

            .col-md-6
                h2 1/2 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
                .mv30
        .text-left
            .col-md-4
                h2 1/3 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua

            .col-md-4
                h2 1/3 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-4
                h2 1/3 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
                .mv30
        .text-left
            .col-md-3
                h2 1/4 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua

            .col-md-3
                h2 1/4 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-3
                h2 1/4 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-3
                h2 1/4 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
                .mv30
        .text-left
            .col-md-4
                h2 1/3 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
            .col-md-8
                h2 2/3 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
                .mv30
        .text-left
            .col-md-2
                h2 1/6 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-2
                h2 1/6 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-2
                h2 1/6 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-2
                h2 1/6 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-2
                h2 1/6 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua
            .col-md-2
                h2 1/6 Columns
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua

mixin inline-text-element()
    .typography-styl
        ul.list-inline.list-inline-text
            li you can use 
                code < mark> 
                |tag to 
                mark.
                    highlight text
            li For indicating blocks of text that have been&nbsp; 
                del deleted  
                |&nbsp;use&nbsp;
                code < del>
                | tag
            br
            li To&nbsp;
                u undeline&nbsp;
                | text use the
                code < u>
                | tag
            li For 
                strong emphasizing 
                |a snippet of text with a heaver font weight use 
                code < strong>
                | tag

mixin icon-text-elements()
    .typography-styl
        ul.list-inline.icon-list
            li 
                i.fa.fa-check 
                | Check list
            br
            li
                i.fa.fa-phone
                | 123 456 789
            br
            li
                i.fa.fa-fax
                | 123 456 789
            br
            li
                i.fa.fa-envelope
                a some@mail.com
            br
            li
                i.fa.fa-home
                | address ,city,postal code
            br
