.upack-demo-page
    position relative
    background url('../img/construction/slider/bg.jpg')
    background-repeat no-repeat
    background-attachment fixed
    background-size cover
    
    
    .demo-title
        margin-top 120px
        color white
        text-transform uppercase
        text-shadow 10px 10px 10px 10px black
        font-size 50px
        font-weight 500
        text-align center
        
    .demo-para
        text-align center
        color white
        font-size 25px
        line-height 50px
        font-weight 200
    .demo-filter
        list-style none
        padding-top 5px
        text-align center
        line-height 70px
        li
            display inline-block
            a
                // padding 10px 20px
                color #333
                display block
                // color white
                font-size 16px
                line-height normal
                text-transform uppercase
                cursor pointer
                background-color white
                padding 10px
                font-weight 400
                letter-spacing 0.9px
                
                &.active
                    border-bottom-color #777
                    background-color primary
                    color white !important
                &:hover
                    color #333
                    text-decoration none
                    background-color lighten(primary, 30%)
                    transition: all .30s ease-in-out
                &:focus , &:visited, &:active
                    box-shadow none
                    text-decoration none
                    outline 0px none
    .mix
        margin-top 50px
        margin-bottom 50px
        .demo-heading
             background-color #333
             h5
                 color white
                 font-size 18px
                 font-weight 400
                 letter-spacing 0.9px
                 text-transform capitalize
                 padding 15px
    .demo-list
        cursor pointer
    .demo-pages
        cursor pointer
        position relative
        bottom 0
        left 0
        height 100%
        width 100%
        .content-demo-pages
            height 100%
            width 100%
            position absolute
            bottom 0
            left 0
            padding-top 10px
            padding-bottom 10px
            // margin-top 60px
            // opacity 0
            transition 0.5s all
            // text-decoration none
            // background-color #333
            a
                text-decoration none !important
                p
                    // text-decoration none
                    transition 0.5s all
                    padding 10px
                    text-decoration none
                    position relative
                    width 100%
                    bottom -5px
                    left 0
                    // margin auto
                    line-height 20px
                    color white
                    font-size 18px
                    text-transform uppercase
                    text-align center
                    border 1px solid transparent
                    background-color primary
            &:hover
                p
                    color white
                    background-color darken(primary, 20%)
                    border-color darken(primary, 20%)
            

        // &:hover
        //     .content-demo-pages
        //         opacity 1

    div.hoverscroll div.arrow.top,
    div.hoverscroll div.fixed-arrow.top
        top: 0px
        background-color: alpha(#333, 80%)
        cursor pointer

    div.hoverscroll div.arrow.bottom,
    div.hoverscroll div.fixed-arrow.bottom
        bottom: 0px
        background-color: alpha(#333, 80%)
        cursor pointer
    .ui-widget-content
        width 100% !important
    div.hoverscroll div.listcontainer
        width 100% !important


