mixin index-home()

    //- +rslider1()
    section.upack-demo-page
        .bga-black-9
            .container
                .row
                    .col-md-12
                        h1.demo-title Landing Page Demostrartion
                        p.demo-para Click on category tags to filter landing pages
            .container#demopage
                .row
                    .col-md-10.col-md-offset-1
                        nav
                            ul(class="demo-filter" id="filters")
                                li
                                    a(class="all filter active", data-filter="all") All
                                li
                                    a(class="filter ", data-filter=".photography") photography
                                li
                                    a(class="filter", data-filter=".construction") construction
                                li
                                    a(class="filter", data-filter=".medical") medical
                                li
                                    a(class="filter", data-filter=".restaurant") restaurant
                                //- li
                                //-     a(class="filter", data-filter=".event") party event
                    .col-md-12.mb80
                        .col-md-4.photography.mix(style="display:block")
                            .demo-heading
                                h5 Photography Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview

                        .col-md-4.restaurant.mix(style="display:block")
                            .demo-heading
                                h5 Restaurant Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview



                         .col-md-4.construction.mix(style="display:block")
                            .demo-heading
                                h5 Construction Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview

                        .col-md-4.photography.mix(style="display:block")
                            .demo-heading
                                h5 Photography Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview

                                //----------------------------------------------------------




                        .col-md-4.construction.mix(style="display:block")
                            .demo-heading
                                h5 Construction Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview


                        .col-md-4.construction.mix(style="display:block")
                            .demo-heading
                                h5 Construction Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview
                        .col-md-4.restaurant.mix(style="display:block")
                            .demo-heading
                                h5 Restaurant Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview





                        .col-md-4.restaurant.mix(style="display:block")
                            .demo-heading
                                h5 Restaurant Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview

                                //----------------------------------------------------------

                         .col-md-4.medical.mix(style="display:block")
                            .demo-heading
                                h5 Medical Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview



                        .col-md-4.medical.mix(style="display:block")
                            .demo-heading
                                h5 Medical Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview


                        .col-md-4.medical.mix(style="display:block")
                            .demo-heading
                                h5 Medical Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview

                        .col-md-4.photography.mix(style="display:block")
                            .demo-heading
                                h5 Photography Theme
                            ul.demo-list
                                li
                                    img.center-block(src="img/header/agency-01.jpg").img-responsive
                            ul.list-unstyled.demo-pages
                                li.content-demo-pages
                                    a(href="#")
                                        p.
                                            Live preview


        //- include ../../models/loder/loder.jade