.section_titles	
	.heading
		text-align center
		padding-top: 80px;
		height: 150px;
		width: 100%;
		z-index: 1;
		h3
			font-size 25px
			color darken(gray, 50%)
			text-transform uppercase
			span
				font-weight 700
				font-size 25px
				color darken(primary, 10%)
				text-transform uppercase
				
		.text
			font-weight 100
			color darken(gray, 50%)
			font-size 12px
			text-transform uppercase
			padding-left 10px
.no-dac
	text-decoration none !important
.ts
	text-shadow 1px 0px 1px black
.fs-title
	font-size 17px !important
.ma
	margin auto !important
.bs
	box-shadow .6px .6px .8px .1px black