// .team-makutravel
// 	.alpha
// 		background-color alpha(#202E31, 90%)
// 	.img
// 		border 1px solid #333
// 		transition 0.5s all
// 		img
// 			cursor pointer
// 		.text-box
// 			width 100%
// 			opacity 2
// 			z-index 6
// 			transition 1s all
// 			background-color #333
// 			.team-text
// 				transition 0.9s all
// 				text-transform uppercase
// 				span
// 					font-size 11px
// 				h3
					
// 					font-weight 700
// 					font-size 15px
// 		&:hover
// 			border-color primary
// 			background-color alpha(primary, 50%)
// 			.text-box
// 				cursor pointer
// 				background-color primary
// 				border-color primary
// 				transition 0.1s all
// 				.team-text
// 					transition 0.1s all
// 					border-color #333
// 					span
// 						transition 0.1s all
// 						color #333
// 					h3
// 						transition 0.1s all
// 						color #333
				
// 		&:hover
// 			.layer1
// 				left 0
// 				top 0
// 				cursor pointer
// 				opacity 2
// 			opacity 2px
// 	.text-heading
// 		h4
// 			letter-spacing 0.5px
// 			line-height 30px
// 		p
// 			letter-spacing 0.9px
// 			line-height 30px

// 	@media(max-width: 307px)
// 		.heading
// 			top 15px
			
// 			padding-left: 30px;
// 			padding-top: 40px;
// 			height: 100px;
// 			width: 210px;
// 	@media(max-width: 1199px)
// 		.heading
// 			top 100px
// 			marin auto 0
// 			right 20px
// 			center block
// 			padding-left: 10px;
// 			padding-top: 50px;
// 			height: 120px;
// 			width: 210px;
// 	@media(max-width: 991px)
// 		.heading
// 			top 15px
// 			marin auto 0
// 			right 0px
// 			center block
// 			padding-left: 30px;
// 			padding-top: 30px;
// 			height: 100px;
// 			width:100%;
// 	.owl-team
// 		.owl-theme
// 			.owl-controls
// 				.owl-buttons
// 					.owl-prev
// 						position absolute
// 						left 0px
// 						bottom -100px
// 						font-size 30px
// 						padding-left 20px
// 						padding-right 20px
// 						padding-top 5px
// 						padding-bottom 5px
// 						background-color alpha(gray, 50%)
// 						border 1px solid transparent
// 						&:hover
// 							background-color primary
// 							color white
// 							border 1px solid primary
// 					.owl-next
// 						position absolute
// 						left 54px
// 						bottom -100px
// 						font-size 30px
// 						padding-left 20px
// 						padding-right 20px
// 						padding-top 5px
// 						padding-bottom 5px
// 						background-color alpha(gray, 100%)
// 						border 1px solid alpha(gray, 100%)
// 						&:hover
// 							background-color primary
// 							border 1px solid primary
// 							color white
// 					div
// 						margin-top 30px
// 						margin-bottom 30px
// 						line-height 40px
// 						border-radius 0
// 						// background-color 30px
// 						// height 40px
// 						// width 40px	
// 						padding 0
// 						color white
// 						opacity 1
// 						&:hover
// 							transition 0.5s all
// 							// background-color transparent
// 							color white