mixin makutravel-section_title(sec_desc, sec_title, sec_title2)
	section&attributes(attributes).makutravel-section_title
		.heading
			.text
				.title
					h3.fw400 #{sec_title}
						span.clr-black #{sec_title2}
					.lower
						.slogan
							span.ls1.fw400 #{sec_desc}
						.obstacle
							.line1
							.line2
							.line3
				//- i.fa.fa-plane
