.one-page-team-section
	.bg-team-img
		background url("../img/slider/topslider.jpg") fixed center
	.one-page-team
		text-align center
		.head-box
			h2
				color #fff
			small
				color white !important