extends ../../../../../views/layout/main.jade
block main_content

    // slider starts here
    +slider-owl2()

    // ABOUT SECTION
    +about-makutravel()
    
    //- SERVICES starts here
    +services-makutravel()

    // BLOG starts here
    +makutravel_blog()

    // CLIENT START HERE
    +clients-makutravel()

    // GALLERY START HERE
    +portfolio-makutravel()


    // CONTACT START HERE
    +contact-makutravel()


    // CALCULATE FORM
    +calculateform-makutravel()

    // FOOTER START HERE
    +footer-makutravel()
    //- include ../../../../../models/back-to-top/back-to-top.jade
    //- include ../../../../../models/loder/loder.jade
    //- include ../../../../../models/switcher/switcher.jade