.footer-enthink
	background-color #2a2a2a
	.col-md-4th
		width: 25%;
		margin-left: 48px;
		float: left;
		margin-right: 49px;
	@media(max-width: 1199px)
		.col-md-4th
			margin-left: 40px;
			margin-right: 40px;
	@media(max-width: 991px)
		.col-md-4th
			width 100%
			margin-left: 0px;
			margin-right: 0px;
	.partition1
		.head
			text-transform uppercase
			padding-left -40px
			border-bottom 1px solid gray
			font-weight 900
			font-size 14px
		.para
			line-height 20px
			color gray
			font-size 14px
	.footer-text
		background-color #333
		h5
			font-size 14px
			color white
			span
				// color blue
				font-weight 600 !important