mixin homeportfolio()
	section
		.container-fluid
			.row
				.text-center
					.col-md-12
						+heading('our','gallery','we do great work')
				.col-md-12.no-padding
					+portfolio1()

mixin homeportfolio2()
	section
		.container-fluid
			.row
				.text-center
					.col-md-12
						+heading('our','gallery','we do great work')
				.col-md-12.no-padding
					+portfoliogrid2columnspace()

mixin homeportfolio3()
	section
		.container-fluid
			.row
				.text-center
					.col-md-12
						+heading('our','gallery','we do great work')
				.col-md-12.no-padding
					+portfoliogrid4columnspace()

mixin homeportfolio4()
	section
		.container-fluid
			.row
				.text-center
					.col-md-12
						+heading('our','gallery','we do great work')
				.col-md-12.no-padding
					+portfolio4columnnospacefullwidth()
