mixin medical-footer()
    ul.no-margin.no-padding
        .list2.no-margin.no-padding
            li
                a(href="#") Find a Doctor
            li
                a(href="#") Direction and Parking
            li
                a(href="#") Information for Patients
            li
                a(href="#") Information for Visitors
            li
                a(href="#") Pay Hospital Bills Online
            li
                a(href="#") Financial Services
            li
                a(href="#") In the Nighbourhood
            li
                a(href="#") Care
            li
                a(href="#") Events
mixin medical-footer1()
    ul.no-margin.no-padding
        .list2.no-margin.no-padding
            li
                a(href="#") Research Highlights
            li
                a(href="#") Partnership with C.H
            li
                a(href="#") Resources For Proffetionals
            li
                a(href="#") Funding Oppurtunities
mixin medical-footer2()
    ul.no-margin.no-padding
        .list2.no-margin.no-padding
            li
                a(href="#") Patients Health Library
            li
                a(href="#") Residensy  and FellowShip
            li
                a(href="#") Education
            li
                a(href="#") Information for Visitors
            li
                a(href="#") Continuing Medical Education
            li
                a(href="#") Nursing Proffessional
            li
                a(href="#") Development
            li
                a(href="#") Allied and Other Health
            li
                a(href="#") Proffesional Training
            li
                a(href="#") Proffesional Development
mixin medical-footer3()
    ul.no-margin.no-padding
        .list2.no-margin.no-padding
            li
                a(href="#") Community Health & Wellness
            li
                a(href="#") Community Relation 
            li
                a(href="#") Community Services
            li
                a(href="#") Resources
            li
                a(href="#") How You Can Help
            li
                a(href="#") Community Report
            li
                a(href="#") Development
            li
                a(href="#") News and Events
mixin medical-footer4()
    .footer-left-icons
        P.pt20
            i.fa.fa-plus-square.pv10.inline-block.pr10
            a(href="#") About us
        P
            i.fa.fa-phone.pv10.inline-block.pr10
            a(href="#")  +44-12-3456-7890
        P
            i.fa.fa-envelope.pv10.inline-block.pr10 
            a(href="#") office@keysoft 
        P 
            i.fa.fa-map-marker.pv10.inline-block.pr10
            a(href="#") Glen ,E13 8 New York
mixin lower-footer()
    
            //- -icons=['fa-plus','fa-phone','fa-ambulance','fa-h-square']
            //- -discription=['About Us','Contact City Hospital','Clinical Services A-Z','My City Hospital']
            //- for i in(1,2,3,4)
