.main-head
	h4
		color white
		font-weight 600px
		letter-spacing 1px
	hr
		margin-left 0px
		border-top 2px solid white !important
	.list2
		li
			list-style none
			overflow hidden
			text-decoration none
			a
				color darken(white,10%)
				font-size 14px
				line-height 1px
				letter-spacing 1px
				&:hover
					list-style none
					text-decoration none
					color white !important
	.footer-left-icons
		p
			i
				color darken(white,10%)
			a
				color darken(white,10%)
				&:hover
					color white !important
	p
		color darken(white,20%)
.lower-footer
	a
		font-size 14px
