.progress
        height 20px
        background #ddd
        position relative
        // border 1px solid alpha(primary, 20%)
        border-radius 0px
        box-shadow none
#progressbar
    width 240px
    color white
    border 50%
    .text-center
        .progressbar
            position relative
            padding 20px
            background-color transparent !important
            strong
                position absoulte
                font-size 25px
                top 14%
                left 14%
                color #22A7F0
                // border 2px solid #22A7F0
                border-radius 50%
                line-height 50px
                padding 60px
                background-color white
.progress-xs
    height 5px
    box-shadow none
    
.sxx-heading
    font-weight 400
    color darken(white,80%)
    text-transform capitalize
    margin 10px 0px
    font-size 17px