.fof
	// margin 60px 0px
	i
		color darken(red,10%)
		font-size 150px
	h2
		margin-top 15px
		color darken(white,70%)
		font-size 42px !important
		font-weight 100
		text-transform uppercase
		word-spacing 0.9
		span
			// font-style bold
			color darken(white,80%)
			font-size 60px !important
			font-weight 900
			word-spacing 0.9
	p
		color darken(red,40%)
		font-size 24px !important
		font-weight 100
		text-transform uppercase
		word-spacing 0.9
.fof1
	// display inline-block
	// border 2px solid black
	// line-height 60px
	ul
		display inline-block
		li
			float left
			
			i
				color darken(red,10%)
				font-size 150px
				border 12px solid darken(red,10%) 
				border-radius 50%
				height 190px
				width 190px
				line-height 190px
				transform Rotate(345deg)
			h2	
				position relative
				// top 25px
				color darken(white,70%)
				font-size 42px !important
				font-weight 100
				text-transform uppercase
				word-spacing 0.9
				transform Rotate(345deg)
				text-shadow 2px 2px grey
				
				span
					// font-style bold
					color darken(white,80%)
					font-size 60px !important
					font-weight 900
					word-spacing 0.9
			p
				position relative
				// top 25px
				color darken(red,40%)
				font-size 24px !important
				font-weight 100
				text-transform uppercase
				word-spacing 0.9
				transform Rotate(345deg)