.our-team1
	position relative
	ul
		.team-list
			float left !important
			
			.team1-img
				figure
					position relative
					overflow hidden
					figcaption
						position absolute
						height 100%
						width 100%
						top 0
						opacity 0
						cursor pointer
						transition 0.5s all
						background-color  alpha(black, 60%)
						.icon-frame-inverse-primary
							border-radius 50%
							border-color white
							i
								color white
							&:hover
								border-color primary
				
				&:hover
					figcaption
						opacity 2
					.figcaption1
						opacity 9
			
				.img-team-content
					img
						width 100%
			
					h3
						font-size: 18px;
						line-height: 20px;
						margin: 15px 0 7px;
						text-transform: uppercase;
						color #555
					h4
						color: #999;
						font-size: 11px;
						line-height: 16px;
						text-transform: uppercase;
					p    
						position: relative;
						margin: 20px 0;
						color darken(white , 95%) !important
						font-size 14px
						font-weight 300
						
						&::before
							left: 0;
							top: -10px;
							height: 1px;
							width: 40px;
							content: " ";
							position: absolute;
							background: #bbb;
.our-team2
	position relative
	ul
		.team-list
			float left !important
			
			.team1-img
				figure
					position relative
					overflow hidden
					figcaption
						position absolute
						height 100%
						width 100%
						top 0
						opacity 0
						cursor pointer
						transition 0.5s all
						background-color  alpha(black, 60%)
						.icon-frame-inverse-primary
							border-radius 50%
							border-color white
							i
								color white
							&:hover
								border-color primary
				
				&:hover
					figcaption
						opacity 2
					.figcaption1
						opacity 9
			
				.img-team-content
					img
						width 100%
			
					h3
						font-size: 18px;
						line-height: 20px;
						margin: 15px 0 7px;
						text-transform: uppercase;
						color #fff
					h4
						color: #fff;
						font-size: 11px;
						line-height: 16px;
						text-transform: uppercase;
					p    
						position: relative;
						margin: 20px 0;
						color #fff
						font-size 14px
						font-weight 300
						
						&::before
							left: 0;
							top: -10px;
							height: 1px;
							width: 40px;
							content: " ";
							position: absolute;
							background: #fff;
.our-team3
	position relative
	ul
		.team-list
			float left !important
			
			.team1-img
				figure
					position relative
					overflow hidden
					figcaption
						position absolute
						height 100%
						width 100%
						top 0
						opacity 0
						cursor pointer
						transition 0.5s all
						background-color  alpha(black, 60%)
						.icon-frame-inverse-primary
							border-radius 50%
							border-color white
							i
								color white
							&:hover
								border-color primary
				
				&:hover
					figcaption
						opacity 2
					.figcaption1
						opacity 9
			
				.img-team-content
					img
						width 100%
			
					h3
						font-size: 18px;
						line-height: 20px;
						margin: 15px 0 7px;
						text-transform: uppercase;
						color #555
						text-align center
					h4
						text-align center
						color: primary
						font-size: 11px;
						line-height: 16px;
						text-transform: uppercase;
					p    
						text-align center
						position: relative;
						margin: 20px 0;
						color darken(white , 95%) !important
						font-size 14px
						font-weight 300
						
						&::before
							left: 40%;
							top: -10px;
							height: 1px;
							width: 40px;
							content: " ";
							position: absolute;
							background: #bbb;