- icons_elegant = ["icon_desktop", "icon_pencil", "icon_lock_alt", "icon_floppy", 'icon_id','icon_dislike', 'icon_archive_alt', 'icon_heart_alt', 'icon_shield','icon_flowchart','icon_percent','icon_star_alt', 'icon_tools', 'icon_easel', 'icon_briefcase', 'icon_balance']
