


mixin countdown1()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer border-right")
						div(class="col-md-3 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS
					


mixin countdown2()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer border-left")
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS
					

mixin countdown3()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer all-border")
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS



mixin countdown4()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer all-border-rotate")
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50 ")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS
					


mixin countdown5()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer no-border")
						div(class="col-md-3 col-sm-3 col-xs-6 text-center ")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS

mixin countdown6()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer circle")
						div(class="col-md-3 col-sm-3 col-xs-6 text-center ")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center")
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS
										


mixin countdown7()
	section()&attributes(attributes)#countdown7
		.container
			.row
				.col-md-12
					div(class="timer no-border")
						div(class="col-md-10 col-sm-10 text-center nav-m30px")
							div(class="time-box days")
								div(class="tick")
									span.clr-white.fs60px.font-fantsy.ls3 {dn}
									span.fs10px-imp.clr-white.font-fantsy.ls2 DAYS
								
						
								div(class="title")
									//- p.clr-white DAYS
						div(class="col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-3 text-center mt20")
							div(class="time-box days")
								
								div(class="tick")
									p.clr-white.font-fantsy.no-margin-cs7.no-padding-cs7 HOURS
									span.clr-white.fs50.font-fantsy.no-margin-cs7.no-padding-cs7 {hn}
						
						div(class="col-md-1 text-center col-sm-1 mt20")
							div(class="time-box days")
								div(class="tick")
									p.clr-white.font-fantsy.no-margin-cs7.no-padding-cs7 MINS
									span.clr-white.fs50.font-fantsy.no-margin-cs7.no-padding-cs7 {mn}
						
						div(class="col-md-1 text-center col-sm-1 mt20")
							div(class="time-box days")
								div(class="tick")
									p.clr-white.font-fantsy.no-margin-cs7.no-padding-cs7 SECS
									span.clr-white.fs50.font-fantsy.no-margin-cs7.no-padding-cs7 {sn}

mixin countdown8()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer all-border-rotate").mash
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50").mash2
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50").mash3
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50").mash4
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS


mixin countdown9()
	section()&attributes(attributes)
		.container
			.row
				.col-md-10.col-md-offset-1
					div(class="timer all-border-rotate").mash
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50 ").mash1
							div(class="time-box days")
								div(class="tick")
									span.clr-white {dn}
						
								div(class="title")
									p.clr-white DAYS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50").mash2
							div(class="time-box days")
								div(class="tick")
									span.clr-white {hn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white HOURS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50").mash3
							div(class="time-box days")
								div(class="tick")
									span.clr-white {mn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white MINS
						div(class="col-md-3 col-sm-3 col-xs-6 text-center pt50").mash4
							div(class="time-box days")
								div(class="tick")
									span.clr-white {sn}
						
								hr(style="border-color:#fff !important")
								div(class="title")
									p.clr-white SECS
					
						
					