mixin collapse1()
	// === collapse1 starts here ===

	div()&attributes(attributes).collapse1
		div(class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true")
			div(class="panel panel-default")
				div(class="panel-heading" role="tab" id="headingOne1")
					a(data-toggle="collapse" class="active" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1")
						h4(class="panel-title") Our Vision
							span.fa.fa-chevron-down.pull-right
				div(id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1")
					p(class="panel-body").
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingTwo-1")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1")
						h4(class="panel-title") Our Efforts
							span.fa.fa-chevron-down.pull-right
				div(id="collapseTwo-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-1")
					p(class="panel-body").
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingThree-1")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1")
						h4(class="panel-title") Our Mission
							span.fa.fa-chevron-down.pull-right
				div(id="collapseThree-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-1")
					p(class="panel-body").
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
			// === collapse1 ends here ===


mixin collapse2()
	// === collapse2 start here ===
	div()&attributes(attributes).collapse2
		div(class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true")
			div(class="panel panel-default")
				div(class="panel-heading" role="tab" id="headingOne-2")
					a(data-toggle="collapse" class="active" data-parent="#accordion2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2")
						h4(class="panel-title") Our Vision
							span.fa.fa-chevron-down.pull-right
				div(id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-2")
					p(class="panel-body").
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingTwo-2")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2")
						h4(class="panel-title") Our Efforts
							span.fa.fa-chevron-down.pull-right
				div(id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-2")
					p(class="panel-body").
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingThree-2")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree-2" aria-expanded="false" aria-controls="collapseThree-2")
						h4(class="panel-title") Our Mission
							span.fa.fa-chevron-down.pull-right
				div(id="collapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-2")
					p(class="panel-body").
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee.
			// === collapse2 end here ===


mixin collapse3()
	// === collapse3 start here ===
	div()&attributes(attributes).collapse3
		div(class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true")
			div(class="panel panel-default")
				div(class="panel-heading" role="tab" id="headingOne-3")
					a(data-toggle="collapse" class="active" data-parent="#accordion3" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3")
						h4(class="panel-title") Our Vision
							span.fa.fa-chevron-down.pull-right
				div(id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-3")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingTwo-3")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo-3" aria-expanded="false" aria-controls="collapseTwo-3")
						h4(class="panel-title") Our Efforts
							span.fa.fa-chevron-down.pull-right
				div(id="collapseTwo-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-3")
					div(class="panel-body")
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingThree-3")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree-3" aria-expanded="false" aria-controls="collapseThree-3")
						h4(class="panel-title") Our Mission
							span.fa.fa-chevron-down.pull-right
				div(id="collapseThree-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-3")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

	// === collapse3 end here ===



mixin collapse4()
	// === collapse4 start here ===
	div()&attributes(attributes).collapse4
		div(class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true")
			div(class="panel panel-default")
				div(class="panel-heading" role="tab" id="headingOne-4")
					a(data-toggle="collapse" class="active" data-parent="#accordion4" href="#collapseOne-4" aria-expanded="true" aria-controls="collapseOne-4")
						h4(class="panel-title") Our Vision
							span.fa.fa-chevron-down.pull-right
				div(id="collapseOne-4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-4")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingTwo-4")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo-4" aria-expanded="false" aria-controls="collapseTwo-4")
						h4(class="panel-title") Our Efforts
							span.fa.fa-chevron-down.pull-right
				div(id="collapseTwo-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-4")
					div(class="panel-body")
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingThree-4")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree-4" aria-expanded="false" aria-controls="collapseThree-4")
						h4(class="panel-title") Our Mission
							span.fa.fa-chevron-down.pull-right
				div(id="collapseThree-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-5")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

	// === collapse4 end here ===


mixin collapse5()
	// === collapse5 start here ===
	div()&attributes(attributes).collapse5
		div(class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true")
			div(class="panel panel-default")
				div(class="panel-heading" role="tab" id="headingOne-5")
					a(data-toggle="collapse" class="active" data-parent="#accordion5" href="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5")
						h4(class="panel-title") Our Vision
							span.fa.fa-chevron-down.pull-right
				div(id="collapseOne-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-5")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingTwo-5")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo-5" aria-expanded="false" aria-controls="collapseTwo-5")
						h4(class="panel-title") Our Efforts
							span.fa.fa-chevron-down.pull-right
				div(id="collapseTwo-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-5")
					div(class="panel-body")
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingThree-5")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree-5" aria-expanded="false" aria-controls="collapseThree-5")
						h4(class="panel-title") Our Mission
							span.fa.fa-chevron-down.pull-right
				div(id="collapseThree-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-5")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
	// === collapse5 end here ===


mixin collapse6()
	// === collapse6 start here ===
	div()&attributes(attributes).collapse6
		div(class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true")
			div(class="panel panel-default")
				div(class="panel-heading" role="tab" id="headingOne-6")
					a(data-toggle="collapse" class="active" data-parent="#accordion6" href="#collapseOne-6" aria-expanded="true" aria-controls="collapseOne-6")
						h4(class="panel-title") Our Vision
							span.fa.fa-chevron-down.pull-right
				div(id="collapseOne-6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-6")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingTwo-6")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseTwo-6" aria-expanded="false" aria-controls="collapseTwo-6")
						h4(class="panel-title") Our Efforts
							span.fa.fa-chevron-down.pull-right
				div(id="collapseTwo-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-6")
					div(class="panel-body")
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
			div(class="panel panel-default panel-default-custom")
				div(class="panel-heading panel-heading-custom" role="tab" id="headingThree-6")
					a(class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseThree-6" aria-expanded="false" aria-controls="collapseThree-6")
						h4(class="panel-title") Our Mission
							span.fa.fa-chevron-down.pull-right
				div(id="collapseThree-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-6")
					div(class="panel-body")
						.col-md-4(style="padding-right:0px;")
							img(src="img/construction/slider/cons1.jpg").img-responsive
						.col-md-8
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
	// === collapse6 end here ===