mixin price11()
	section
		.container
			.row.mv70.mh40
				+prices("col-md-4","Basic","$19","/mo","1 website","1 GB Storage","10 GB Bandwidth","3 Month Support","Unlimited Sub-Domains","5 Databases")
				+prices("col-md-4","Standard","$19","/mo","1 website","1 GB Storage","10 GB Bandwidth","3 Month Support","Unlimited Sub-Domains","5 Databases")
				+prices("col-md-4","Premium","$19","/mo","1 website","1 GB Storage","10 GB Bandwidth","3 Month Support","Unlimited Sub-Domains","5 Databases")
mixin price12()
	section.prices22-section
		.container
			.row.mv70
				+prices22("col-md-3","FREE PLAN","$","0","mo","fa-envelope","1000 messages","fa-signal","limited data","fa-user","limited users","fa-clock-o","first 10 days free")
				+prices22("col-md-3","Business PLAN","$","0","mo","fa-envelope","1000 messages","fa-signal","limited data","fa-user","limited users","fa-clock-o","first 10 days free")
				+prices22("col-md-3","extended PLAN","$","0","mo","fa-envelope","1000 messages","fa-signal","limited data","fa-user","limited users","fa-clock-o","first 10 days free")
				+prices22("col-md-3","FREE PLAN","$","0","mo","fa-envelope","1000 messages","fa-signal","limited data","fa-user","limited users","fa-clock-o","first 10 days free")
mixin price13()
	section.prices33-section
		.container
			.row.mv70
				+prices33("col-md-3","starter","$19","fa-user","5","users","10","projects","10GB","amount of scale","5","email-accounts","for individuals")
				+prices33("col-md-3","Basic","$29","fa-home","5","users","10","projects","10GB","amount of scale","5","email-accounts","for individuals")
				+prices33("col-md-3","Pro","$49","fa-clock-o","5","users","10","projects","10GB","amount of scale","5","email-accounts","for individuals")
				+prices33("col-md-3","ultra","$99","fa-refresh","5","users","10","projects","10GB","amount of scale","5","email-accounts","for individuals")
	//- section
		.container
			.row.mv70
				//- +rounded-pricetable("col-md-3","starter","$3","90","great for small business")
				//- +rounded-pricetable("col-md-3","basic","$4","80","great for large business")
				//- +rounded-pricetable("col-md-3","delux","$5","99","great for host and share")
				//- +rounded-pricetable("col-md-3","ultra","$6","70","great for big projects")
