mixin contact-ethink(sec_desc, sec_title)
	div()&attributes(attributes)#contact-enthink.contact-ethink
		//- +widget3()
		.container
			.row
				.col-md-12
					+section_title("how you can access our company", "our", "contact")
			.col-md-8
				.contain
					.row
						form
							.col-md-6.mt40
								.contact-parent.bw-1.bdr-solid.p5.pos-r.no-bdr-rad
									.contact-field-heads.pos-a
										h5.bg-white Your Name
									input(type="text" role="text" class="form-control bg-clr-glass bdr-transparent bg-transparent clr-primary")
							.col-md-6.mv40
								.contact-parent.bw-1.bdr-solid.p5.pos-r.no-bdr-rad
									.contact-field-heads.pos-a
										h5.bg-white Your Email
									input(type="email" role="email " class="form-control bg-clr-glass bdr-transparent bg-transparent clr-primary")
							.col-md-12.mb10
								.contact-parent.bw-1.bdr-solid.p5.pos-r.no-bdr-rad
									.contact-field-heads.pos-a
										h5.bg-white Message
									textarea(type="text" rows="6" class="form-control bg-clr-glass bdr-transparent bg-transparent clr-primary")
							.col-md-6.mb80
								button.btn.btn-m-primary.btn-lg.no-bdr-rad(type="submit" value="submit") Send Message
									span.pl10.fa.fa-send
			.col-md-4.mt40
				.map
					<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="100%" height="233px" src="https://maps.google.com/maps?hl=en&q=gilgit paksita&ie=UTF8&t=roadmap&z=6&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small><a href="http://buyproxies.io/">buyproxies.io</a></small></div></iframe>