.about-para
	margin-top 40px
	font-size 17px
	line-height 30px
	color #888
	text-align center
.img-about
	border-radius 35px
	width 120px
	height 120px
	margin-top 70px
.name-title
	font-size 20px
	padding-left 10px
	text-transform capitalize
	color #888
	margin-top 15px
.post-name
	padding-right 10px
	margin-top 30px
	text-transform uppercase
	color primary
	font-size 14px
@media(max-width 992px)
	.testimonial-sm-xs
		text-align center
		margin-top 80px
		h5
			
			padding-bottom 50px
		img
			margin auto
			display block
	