//- Modals transition top-bottom
mixin modal-1()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h2.comp-title Modals Components
					hr
					h4.comp-titles Modal - I
					hr
					+modal1()


					h4.comp-titles Modal - II
					hr
					+modal2()
				.col-md-4
					+component-nav()


mixin modal-2()
	section()&attributes(attributes)
mixin modal-3()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h4.comp-titles Modal - III
					hr
					+modal3()
mixin modal-4()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h4.comp-titles Modal - IV
					hr
					+modal4()
mixin modal-5()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h4.comp-titles Modal - V
					hr
					+modal5()

mixin alert-1()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h4.comp-titles Alert - I
					hr
					+alert1()

mixin alert-2()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8
					h4.comp-titles Alert - II
					hr
					+alert2()
mixin alert-3()
	section()&attributes(attributes)
		.container
			.row
				.col-md-8.mb80
					h4.comp-titles Alert - III
					hr
					+alert3()