//- mixin construction_vegas()
//- 	section()&attributes(attributes)
//- 		+slider-vegass()
//- 		+widget2()

//- mixin construction_static()
//- 	section()&attributes(attributes)
//- 		+static-slider()
//- 		+widget2()

//- mixin construction_owl()
//- 	section&attributes(attributes)
//- 		+slider-owl
//- 		+widget2()