.sq
	border 2px solid green
	width 150px
	height 150px
	// line-height 150px
	span
		line-height 100px
		padding-left 20px
		// margin-top 10px
		// padding-top 80px
		font-size 18px
		color darken(white,20%)
		text-transform capitalize
	h1
		// margin-top -15px
		line-height 0px
		text-align center
		// padding-left 46px
		margin-top -20px
		font-size 48px
		font-weight 700
		color darken(white,10%)
.sqctr
	border 2px transparent white
	background-color alpha(black,60%)
	width 150px
	height 150px
	h1
		line-height 125px
		// padding-left 46px
		text-align center
		// margin-top -20px
		font-size 48px
		font-weight 700
		color darken(white,10%)
	span
		display block
		text-align center
		line-height 0px
		// padding-left 20px
		margin-top -30px
		padding-top 10px
		font-size 18px
		color darken(white,20%)
		font-weight 100
		text-transform capitalize
.sqrtl
	border 2px solid red
	width 150px
	height 150px
	h1
		line-height 125px
		// padding-left 46px
		text-align center
		// margin-top -20px
		font-size 48px
		font-weight 700
		color darken(white,10%)
	span
		display block
		line-height 0px
		padding-left 50px
		margin-top -30px
		// padding-top 80px
		font-size 18px
		color darken(white,20%)
		text-transform capitalize
	
		
		
	