.comingsoon0
	position relative
	height auto
	width 100%
	background url("../img/comingsoon/kdo.jpg")
	background-size cover
	background-position center
	
	// overflow hidden
	// background alpha(black,20%)
	.main-head
		h1
			text-transform uppercase
			letter-spacing 0.9px
			word-spacing 0.9px
			font-size 60px
			font-weight 800
			color darken(white,10%)
			// line-height 30px
			// margin 20px 0
		p
			text-transform uppercase
			letter-spacing 0.9px
			word-spacing 0.9px
			color darken(white,20%)
			line-height 25px
@media(max-width 992px)
	.sqctr
		width 100px
		height 100px
		margin-bottom 10px
		margin-left 50px
		h1
			line-height 85px
			// padding-left 46px
			text-align center
			// margin-top -20px
			font-size 38px
			font-weight 400
		span
			display block
			text-align center
			line-height 10px
			// padding-left 20px
			// margin-top -30px
			// padding-top 10px
			font-size 14px
			// color darken(white,20%)
			font-weight 100
			// text-transform capitalize
@media(max-width 768px)
	.sqctr
		margin-bottom 10px
@media(max-width 360px)
	.sqctr
		margin-bottom 10px
		// padding 0 auto
		margin-left 0px
		margin-right 10px
@media(max-width 428px)
	.main-head
		h1
			font-size 30px !important
	.btn-c-primary
		font-size 14px
		padding 10px 8px


.comingsoon1
	position relative
	background url("../img/comingsoon/comingsoon2.jpg")
	background-attachment fixed
	background-position center
	background-size cover
	.comming-text
		text-align center
		h1
			margin-top 100px
			font-size 64px
			font-weight 600
			letter-spacing 0.9px
			word-spacing 0.9px
			line-height 25px
			color darken(white,10%)
			text-transform uppercase
		p
			line-height 30px
			font-size 20px
			font-weight 100
			letter-spacing 0.9px
			word-spacing 0.9px
			// line-height 25px
			color darken(white,10%)
			text-transform lowercase
	.sqctr
		background-color alpha(black, 30%)
		border 1px solid white
		transition 0.5s all
		cursor pointer
		border-radius 50%
		&:hover
			background-color alpha(primary, 30%)
	ul
		width: 100%;
		text-align: center;
		li
			a
				div
					border-color white
					i
						color white
	input
		background-color transparent
		padding-left 25px
		border-radius 30px 0px 0px 30px !important
		padding-right 25px
		padding-top 15px
		padding-bottom 15px
		color white
		font-size 15px !important
		border 1px solid white !important
	button
		border-radius 0px 30px 30px 0px !important
		font-size 15px !important
		margin-left -5px
		margin-top -2px
		background-color transparent
		border-color white
		padding-left 25px
		padding-right 25px
		padding-top 15px
		padding-bottom 15px
		transition 0.5s all
		&:hover, &:focus, &:active, &:visited
			background-color primary !important
			border-color primary !important
			outline none
	@media(max-width 450px)
		.comming-text
			h1
				font-size 60px
			p
				font-size 18px
		input
			width 100%
		button
			margin-top 5px
			width 100%
	@media(max-width 340px)
		.comming-text
			h1
				font-size 40px
			p
				font-size 16px
		ul
			li
				a
					.icon-md
						height 40px
						margin auto
						width 40px
						line-height 40px
						i
						margin auto
							font-size 20px



.comingsoon3
	position relative
	background-size cover
	// background url("../img/comingsoon/comingsoon3.jpg")
	background-attachment fixed
	background-position center
	.alpha
		background-color alpha(black, 80%);
	.comming-text
		h1
			margin-top 50px
			width 100%
			text-align: center;
			text-transform: uppercase;
			font-weight: 80;
			font-size: 80px;
			color white
		p
			text-align: center;
			font-size 24px
			font-weight 200
			letter-spacing 0.9px
			word-spacing 0.9px
			line-height 35px
			color darken(white,10%)
			text-transform lowercase
	ul
		width: 100%;
		text-align: center;
		li
			a
				div
					border-color white
					i
						color white
	input
		background-color transparent
		padding-left 25px
		// border-radius 5% !important
		padding-right 25px
		padding-top 15px
		padding-bottom 15px
		color white
		font-size 15px !important
		border 1px solid white !important
	button
		font-size 15px !important
		margin-left -5px
		margin-top -2px
		// font-size 18px
		background-color transparent
		border-color white
		padding-left 25px
		padding-right 25px
		padding-top 15px
		padding-bottom 15px
		border-radius 0
		transition 0.5s all
		&:hover, &:focus, &:active, &:visited
			background-color primary !important
			border-color primary !important
			outline none
	@media(max-width 450px)
		.comming-text
			h1
				font-size 60px
			p
				font-size 18px
		input
			width 100%
		button
			margin-top 5px
			width 100%
	@media(max-width 340px)
		.comming-text
			h1
				font-size 40px
			p
				font-size 16px
		ul
			li
				a
					.icon-md
						height 40px
						margin auto
						width 40px
						line-height 40px
						i
						margin auto
							font-size 20px
	

	
		