mixin comingsoon0()
	section.comingsoon0
		.bga-black-6.hp100
			.container.hp100.pv80
				.table-med
					.table-med-row
						.col-md-8.col-md-offset-2
							.main-head.text-center.ph50
								h1.pv30 coming soon
								p.pb30.
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Lorem ipsum dolor sit amet consectetur ipsum dolor sit 
									amet consectetur adipisicing eli
						.col-md-12
							+countdown1()
						.col-md-10.col-md-offset-1.col-sm-6.pv45
							.float-left
								ul.list-inline.text-center
									li.float-left
										+icon-fa("fa-facebook","icon-sm icon-frame-primary facebook")
									li.float-left
										+icon-fa("fa-twitter","icon-sm icon-frame-primary twitter")
									li.float-left
										+icon-fa("fa-linkedin","icon-sm icon-frame-primary linkedin")
									li.float-left
										+icon-fa("fa-youtube","icon-sm icon-frame-primary youtube")
							.text-center.mv20
								+btn-theme-lg-inv("btn-c-primary","MAKE AN APPOINTMENT")





mixin comingsoon1()
	section.comingsoon1.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt50.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit

					.col-md-12
						+countdown1()

					.col-md-12.pt20
						.mv40.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")


mixin comingsoon2()
	section.comingsoon1.comingsoon3.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12.mt20
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt40
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown2()

					.col-md-12
						.mb50.mt70.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")



mixin comingsoon3()
	section.comingsoon3.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown3()
					

					.col-md-12
						.mt60.mb50.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")
mixin comingsoon4()
	section.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12.mb30
						+countdown4()
					.col-md-12
						.mt70.mb60.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb60.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")
mixin comingsoon5()
	section.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt10.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown5()
						
						//- .timer1.clr-white

					.col-md-12.pt20
						.mv40.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")
mixin comingsoon6()
	section.comingsoon1.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt50.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit

					.col-md-12
						+countdown6()

					.col-md-12.pt20
						.mv40.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")
mixin comingsoon7()
	section.comingsoon3
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt10.pb50.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown7()
						
						//- .timer1.clr-white

					.col-md-12.pt20
						.mv50.text-center
							form.mb40
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mv40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")

mixin comingsoon8()
	section.comingsoon1.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					//- .col-md-8.col-md-offset-2
						.comming-text
							p.pv30.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet

					.col-md-12(style="margin-top:-20px;")
						+countdown8()

					.col-md-12
						.mb50.text-center
							form.mb40
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")
mixin comingsoon9()
	section.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					//- .col-md-8.col-md-offset-2
						.comming-text
							p.pt10.pb50.
								Lorem ipsum dolor sit amet consectetur
					.col-md-12.mt40
						+countdown9()

					.col-md-12
						.mb50.text-center
							form.mb40
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")mixin comingsoon0()
	section.comingsoon0
		.bga-black-6.hp100
			.container.hp100.pv80
				.table-med
					.table-med-row
						.col-md-8.col-md-offset-2
							.main-head.text-center.ph50
								h1.pv30 coming soon
								p.pb30.
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Lorem ipsum dolor sit amet consectetur ipsum dolor sit 
									amet consectetur adipisicing eli
						.col-md-12
							+countdown1()
						.col-md-10.col-md-offset-1.col-sm-6.pv45
							.float-left
								ul.list-inline.text-center
									li.float-left
										+icon-fa("fa-facebook","icon-sm icon-frame-primary facebook")
									li.float-left
										+icon-fa("fa-twitter","icon-sm icon-frame-primary twitter")
									li.float-left
										+icon-fa("fa-linkedin","icon-sm icon-frame-primary linkedin")
									li.float-left
										+icon-fa("fa-youtube","icon-sm icon-frame-primary youtube")
							.text-center.mv20
								+btn-theme-lg-inv("btn-c-primary","MAKE AN APPOINTMENT")





mixin comingsoon1()
	section.comingsoon1.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt50.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit

					.col-md-12
						+countdown1()

					.col-md-12.pt20
						.mv40.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")


mixin comingsoon2()
	section.comingsoon1.comingsoon3.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12.mt20
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt40
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown2()

					.col-md-12
						.mb50.mt70.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")



mixin comingsoon3()
	section.comingsoon3.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown3()
					

					.col-md-12
						.mt60.mb50.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")
mixin comingsoon4()
	section.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12.mb30
						+countdown4()
					.col-md-12
						.mt70.mb60.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb60.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")
mixin comingsoon5()
	section.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt10.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown5()
						
						//- .timer1.clr-white

					.col-md-12.pt20
						.mv40.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")
mixin comingsoon6()
	section.comingsoon1.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt50.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit

					.col-md-12
						+countdown6()

					.col-md-12.pt20
						.mv40.text-center
							form
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")
mixin comingsoon7()
	section.comingsoon3
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					.col-md-8.col-md-offset-2
						.comming-text
							p.pt10.pb50.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur ipsum dolor sit
					.col-md-12
						+countdown7()
						
						//- .timer1.clr-white

					.col-md-12.pt20
						.mv50.text-center
							form.mb40
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mv40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")

mixin comingsoon8()
	section.comingsoon1.slider-vegas_comming-soon
		.bga-black-8
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					//- .col-md-8.col-md-offset-2
						.comming-text
							p.pv30.
								Lorem ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet

					.col-md-12(style="margin-top:-20px;")
						+countdown8()

					.col-md-12
						.mb50.text-center
							form.mb40
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary rounded-circle facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary rounded-circle twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary rounded-circle linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary rounded-circle youtube")
mixin comingsoon9()
	section.comingsoon3.slider-vegas_comming-soon
		.alpha
			.container
				.row
					.col-md-12
						.comming-text
							h1 coming soon
					//- .col-md-8.col-md-offset-2
						.comming-text
							p.pt10.pb50.
								Lorem ipsum dolor sit amet consectetur
					.col-md-12.mt40
						+countdown9()

					.col-md-12
						.mb50.text-center
							form.mb40
								input(type="text" placeholder="Enter Your Email")
								button.btn.btn-primary Notify me
					.col-md-12
						ul.list-inline.mb40.list-inline
							li
								+icon-fa("fa-facebook","icon-md icon-frame-primary facebook")
							li
								+icon-fa("fa-twitter","icon-md icon-frame-primary twitter")
							li
								+icon-fa("fa-linkedin","icon-md icon-frame-primary linkedin")
							li
								+icon-fa("fa-youtube","icon-md icon-frame-primary youtube")