extends ../../../views/layout/main.jade
block main_content
	+navbar-pack().navbar-fixed-top.navbar-default.navbar-dark
	+index2()
	include ../../../models/back-to-top/back-to-top.jade
	include ../../../models/loder/loder.jade
	include ../../../models/switcher/switcher.jade