.form-input
	border-color #888
	border-radius 0px
	&:focus
		border-color #999
		outline none
.textarea
	border-radius 0
	outline none
	&::focus
		border-color #eee
		outline none
.slects1
	border-radius 0px
	width 100%
	padding 8px 0px
.slectsr
	border-radius 0px
	width 100%
	padding 15px 5px
	border-left 10px solid
	border-color #000
.slects2
	border-radius 0px
input
	border-radius 0px !important
	border-shadow none
	outline none
	&:focus
		border-shadow none
		outline none
		border-color none !important
label
	color #555 !important
	font-weight 400