.about-enthink
	.alpha
		background-color alpha(#202E31, 95%)
	.about-bottom
		background-color #202E31
		.description
			p
				font-size 14px
				font-weight 100
		.button
			button
				outline none
				border-color primary
				&:hover
					background-color darken(primary, 20%)
					border-color darken(primary, 20%)
				&:focus
					background-color darken(primary, 20%)
					border-color darken(primary, 20%)
				&:active
					background-color darken(primary, 20%)
					border-color darken(primary, 20%)
			