extends ../../../../../views/layout/main.jade
block main_content

	// Navbar
	//- +enthink_navbar()

	// slider starts here
	+construction_owl()

	// ABOUT SECTION
	+about-enthink()
	
	// GALLERY START HERE
	+gallery-enthink()
	// features starts here
	+features-enthink()

	// team SECTION
	+team-enthink()
	
	// services starts here
	+services-ethink()

	// quote starts here
	+quote-enthink()

	// CONTACT START HERE
	+contact-ethink()

	// CONTACT START HERE
	+footer-enthink()
	include ../../../../../models/back-to-top/back-to-top.jade
	include ../../../../../models/loder/loder.jade
	include ../../../../../models/switcher/switcher.jade