//- mixin owl-main-slider()
//-     section()&attributes(attributes).owlslider
//-         //- .container.hp100
//-         div.owl-carousel(id="mainslider")
//-             for i in [2,4,5,6]
//-                 img.img-responsive(src="img/work/" + i + ".jpg")
//-         //- if block
//-         //-         block
//-         //- else
//-         //- .table-1
//-         //-     .table-middle-row-1
//-         //-         .col-md-12.text-center
//-         //-             h1.section-titles wellcome to upack
//-         //-             p.section-para.
//-         //-                 we do great designs
//-         //-         .col-md-12.text-center.mt20
//-         //-             +btn-icon-lg("btn-c-primary", "purchase now", "fa fa-tachometer")