mixin rslider1()
    // === revolution slider start here ===
    section.pos-r.margin-100
        div
            div(class="fullwidthbanner-container revolution-slider")
                div(class="fullwidthbanner")
                    ul
                        li(data-transition="fade" data-slotamount="9")
                            img(src="img/components/rslider/bg-stone.jpg")

                            div(class="caption lft very_big_white" data-x="center" data-y="180" data-speed="900" data-start="900" data-easing="easeOutExpo" style="background:none")
                            
                                .rslid1h
                                    <span class="color">wellcome</span> to upack

                            div(class="caption lft very_big_white" data-x="center" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-y="280" data-speed="900" data-start="900" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, -1409, 0, 0, 1); background:none")
                                .rslid1p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
                                .rbtn
                                    +btn-icon-lg("btn-c-primary", "purchase now", "fa fa-tachometer")

                            
                            div(class="tp-bannertimer")
                        li(data-transition="fade" data-slotamount="8")
                            img(src="img/components/rslider/5.jpg")
                                


                            div(class="caption lft very_big_white" data-x="left" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-hoffset="-100" data-y="150" data-speed="900" data-start="900" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="margin-top 50px")
                                .rslid2para.
                                        upack tempelete

                            div(class="caption lft very_big_white" data-x="left" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-hoffset="-100" data-y="215" data-speed="2000" data-start="1100" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="margin-top 50px")
                                
                                .rslid2para.
                                    100% Fully Responisve
                            div(class="caption lft very_big_white" data-x="left" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-hoffset="-100" data-y="280" data-speed="3000" data-start="900" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, -1409, 0, 0, 1); line-height: 34px; margin-top 50px")

                                .rslid3para.rslid2para.
                                    With Incredible

                            div(class="caption lft very_big_white" data-x="left" data-hoffset="-100" data-y="335" data-speed="4000" data-start="900" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="top: 278px; visibility: visible; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); margin-top: 10px ") 

                                .rslid3para.rslid2para.
                                    Additions &amp; Optimizations
                            div(class="caption lft very_big_white" data-x="right" data-hoffset="200" data-y="120" data-speed="750" data-start="900" data-easing="easeOutExpo" style="background:none")

                                .img-rev2
                                    img(src="img/components/rslider/2.png")

                            div(class="tp-bannertimer")


                                
                        li(data-transition="fade" data-slotamount="8")
                            img(src="img/construction/slider/bg.jpg")

                            div(class="caption lft very_big_white" data-x="center" data-y="150" data-speed="900" data-start="900" data-easing="easeOutExpo" style="background:none")
                            
                                .rslid1h
                                    <span class="color">wellcome</span> to upack

                            div(class="caption lft very_big_white" data-x="center" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-y="250" data-speed="900" data-start="900" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, -1409, 0, 0, 1); background:none")
                                .rslid1p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
                                .rbtn
                                    +btn-icon-lg("btn-c-primary", "purchase now", "fa fa-tachometer")

                            
                            div(class="tp-bannertimer")
    // === revolution slider end here ===

mixin rslider-demo()
    section
        div(style='position:relative')
            <div class="fullwidthbanner-container revolution-slider">           
            <div class="fullwidthbanner">
            <ul>
            <li data-transition="fade" data-slotamount="8">                                     
            <img src="img/revolution-slider/01-bg.jpg" />

            <div class="caption lfb" data-x="140" data-y="70" data-speed="600" data-start="1900" data-easing="easeOutExpo"><a href="dark/index.html" class="thumb-link"><img src="img/revolution-slider/dark.png" /></a></div>
            //- <div class="caption lfb" data-x="600" data-y="290" data-speed="600" data-start="2400" data-easing="easeOutExpo"><a href="light/index.html" class="thumb-link"><img src="img/revolution-slider/light.png" /></a></div>

            <div class="caption lft big_white" data-x="40" data-y="70" data-speed="900" data-start="1180" data-easing="easeOutExpo" style="background:none"><span class="color">Relative</span> Multi Purpose Template </div>
            
            <div class="caption lft big_white" data-x="30" data-y="200" data-speed="600" data-start="1880" data-easing="easeOutExpo" style="background:none">
            <a href="dark/index.html"><span class="caption big_blue">More Then 8 Colors</span></a></div>
            <div class="m-t-10"></div>
            <div class="caption lfl big_orange" data-x="30" data-y="265" data-speed="600" data-start="2480" data-easing="easeOutExpo" style="background:none">
            <a href="dark/index.html"><span class="caption big_blue">Fully Responsive</span></a></div>
            
            <div class="caption lfl big_orange" data-x="30" data-y="330" data-speed="600" data-start="2980" data-easing="easeOutExpo" style="background:none">
            <a href="dark/index.html"><span class="caption big_blue">Multi Purpose</span></a></div>
            //- //- <div class="caption lfr big_white" data-x="660" data-y="200" data-speed="600" data-start="3180" data-easing="easeOutExpo" style="background:none"><a href="light/index.html"><strong>Light skin</strong></a></div>
            </li>

            // second slide start's here

            <li data-transition="fade" data-slotamount="8">                                     
            <img src="img/revolution-slider/01-bg.jpg" />

            //- <div class="caption lfb" data-x="0" data-y="290" data-speed="600" data-start="1900" data-easing="easeOutExpo"><a href="dark/index.html" class="thumb-link"><img src="img/revolution-slider/dark.png" /></a></div>
            //- <div class="caption lfb" data-x="600" data-y="290" data-speed="600" data-start="2400" data-easing="easeOutExpo"><a href="light/index.html" class="thumb-link"><img src="img/revolution-slider/light.png" /></a></div>
            //- <div class="caption lfb" data-x="170" data-y="80" data-speed="2000" data-start="900" data-easing="easeOutExpo"><img src="img/revolution-slider/dj.png" /></div>

            <div class="caption lft big_white" data-x="45" data-y="50" data-speed="900" data-start="1580" data-easing="easeOutExpo" style="background:none"><span class="color">WordPress</span> Design Coming Soon</div>
            <div class="caption lfl big_white" data-x="5" data-y="180" data-speed="600" data-start="1580" data-easing="easeOutExpo" style="background:none">
            <a href="dark/index.html"><img src="img/revolution-slider/desktop.png" style="width: 500px;"/></a></div>
            <div class="caption lfr big_white" data-x="660" data-y="200" data-speed="600" data-start="1980" data-easing="easeOutExpo" style="background:none"><a href="light/index.html"><span class="caption big_blue">Light skin</span></a></div>
            <div class="caption lfr big_white" data-x="660" data-y="265" data-speed="600" data-start="2580" data-easing="easeOutExpo" style="background:none"><a href="light/index.html"><span class="caption big_blue">Clean Code</span></a></div>
            <div class="caption lfr big_white" data-x="660" data-y="330" data-speed="600" data-start="2980" data-easing="easeOutExpo" style="background:none"><a href="light/index.html"><span class="caption big_blue">Full Features</span></a></div>
            </li>

            //third slide

            <li data-transition="fade" data-slotamount="8">                                     
            <img src="img/revolution-slider/01-bg.jpg" />

            <div class="caption lft big_white" data-x="5" data-y="220" data-speed="600" data-start="2880" data-easing="easeOutExpo" style="background:none"><span class="color">We Have Variety Of<br> Products For You</span></div>
            <div class="caption lfr big_white" data-x="560" data-y="185" data-speed="10" data-start="1500" data-easing="easeOutExpo" style="background:none"><img src="img/revolution-slider/shopping.png"></a></div>
            <div class="caption lfr big_white" data-x="120" data-y="380" data-speed="600" data-start="2180" data-easing="easeOutExpo" style="background:none"><a href="light/index.html"><button class="btn btn-k-glass btn-lg" style="padding-right: 70px; padding-left: 70px;"> Shop Now</button></a></div>
            </li>

            //third slider ends here


            </ul>
            <div class="tp-bannertimer"></div>                                              
            </div>                  
            </div>