.rslid1h
	text-transform uppercase
	@media(max-width 767px)
		font-size 30px
		margin-top 0px
		
.color
	color primary
	text-transform uppercase
	text-align center
	.rheading
		text-transform uppercase
		color #fff
		disply inline

.rslid1p
	width: 100%; 
	max-width: 750px;
	font-size 20px
	margin-top 10px
	color #fff
	font-weight 200 !important
	line-height 28px
	text-align: center
	transition: all 0s ease 0s
	min-height: 0px
	min-width: 0px
	line-height: 28px
	left: 299.5px
	top: 295px
	z-index: 10
	white-space: normal
	visibility: visible
	transform-origin: 50% 0% 0px
	border-width: 0px
	margin: 0px 
	padding: 0px
	letter-spacing: 0.5px
	@media(max-width 767px)
		top 0px
		font-size 16px
		line-height 18px
.rbtn
	width: 100%; 
	margin-top 25px
	max-width: 750px;
	line-height 50px
	text-align: center
	transition: all 0s ease 0s
	min-height: 0px
	min-width: 0px
	line-height: 28px
	left: 299.5px
	top: 295px
	z-index: 10

.img-rev2
	img
		width 100%
		height 100%
	@media(max-width 767px)
		img
			width 80%
.rslid2para 
	max-width: 650px;
	font-size 36px
	background-color primary
	color #fff
	font-weight 400 !important
	text-align: center
	transition: all 0s ease 0s
	min-height: 0px
	min-width: 0px
	line-height: 50px
	left: 299.5px
	top: 295px
	z-index: 10
	white-space: normal
	visibility: visible
	border-width: 0px
	margin: 0px
	padding: 0px 5px
	letter-spacing: 0.9px
	text-transform uppercase
	@media(max-width 767px)
		max-width: 650px !important
		line-height: 30px
		font-size 17px
		
.rslid3para
	background-color alpha(black, 60%)
	@media(max-width 767px)
		max-width: 650px !important
		line-height: 25px
		font-size 17px