
//- video sllider  MC
mixin slider-video-mc()
	// === vegas slider section start here ===
	section()#slider-video-mc&attributes(attributes).mc_vegas_slider
		.bg-alpha
			.container.hp100
				.table-1
					.table-middle-row-1
						.col-md-12
							.photography-titles
								h2 wellcome to 
									span mediaculture
								.mt10
						.col-md-6.col-md-offset-3.text-center.mt20
							//- P.photo-para.
							//- 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							//- 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							.mt25
							+btn-appbox("Find Out More")