mixin cooking-section_title(sec_desc, sec_title, sec_title2)
	section&attributes(attributes).cooking-section_title
		.heading
			.text
				.title
					h3 #{sec_title}
					.lower
						.slogan
							span #{sec_desc}
					h4 #{sec_title2}
