mixin medical-callout()
    section&attributes(attributes).medical-callout
        .bga-black-5
            .container
                .row
                    .col-md-8
                        .callout-text.pv80.pl45
                            p.
                                Csenim ad minima veniam sciporiosam.
                                Veasisi ut aliquixeraea commonseq me meyrerertas.
                                Csenim ad minima veniam sciporiosam.
                            .mv30
                                +btn-theme-lg("btn-c-primary","MAKE AN APPOINTMENT")