.features-enthink
	background : url(../img/construction/slider/bg-slider-construction.jpg)
	.alpha
		background-color alpha(#202E31, 95%)
		.s-title
			.upper
				span
					color primary
			.lower
				h3
					color white
		.media
			.media-body
				h4
					color white
					text-transform uppercase
				p
					color primary
					letter-spacing 1px
					line-height 20px
					// font-weight 100
					font-size 14px
		.media-bottom-para
			p
				font-size 15px
				color white
				font-weight 200