.tab1
	.tab-status
		padding 30px
		h4
			font-size 15px
			text-transform uppercase
			letter-spacing 1.5px
		p
			font-size 15px
.tab2
	.tab-pane
		padding-top 30px
	.nav-tabs > li
		padding-right 0 !important
		border none
		margin-right 0 !important
	.nav-tabs > li > a
		background-color transparent
		color primary
		font-size 15px
		margin-top 5px
		margin-right 20px
		transition 0.5s all ease-in-out
		&:hover
			transition 0.5s all ease-in-out
			cursor default
			background-color transparent !important
			border 1px solid transparent
			cursor pointer
			border-bottom-color primary
		&.active
			border-color primary
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus 
		cursor default
		background-color transparent !important
		border 1px solid transparent
		color primary
		cursor pointer
		border-bottom-color primary
	.tab-status
		border-left 1px solid primary
		border-right 1px solid primary
		border-radius 5px 5px 5px 5px
		padding 30px
		h4
			font-size 15px
			text-transform uppercase
			letter-spacing 1.5px
		p
			font-size 15px
	.nav-tabs
		border-bottom none
		
.tab3
	.tab-pane
		padding-top 30px
	.nav-tabs > li
		border none
	.nav-tabs > li > a
		background-color transparent
		color primary
		border 1px solid
		font-size 15px
		margin-top 5px
		margin-right 20px
		transition 0.5s all ease-in-out
		border-radius 40px 40px 40px 40px !important
		&:hover
			color primary
			background-color transparent
			border-bottom-color primary
		&.active
			border-color primary
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus 
		cursor pointer
		background-color darken(primary, 20%) !important
		color white
		border 1px solid transparent
	.tab-status
		border-left 1px solid primary
		border-right 1px solid primary
		border-radius 20px 20px 20px 20px
		padding 30px
		h4
			font-size 15px
			text-transform uppercase
			letter-spacing 1.5px
		p
			font-size 15px
	.nav-tabs
		border-bottom none
		
.tab4
	.tab-pane
		padding-top 30px
	.nav-tabs > li
		border none
	.nav-tabs > li > a
		background-color transparent
		color primary
		border 1px solid
		font-size 15px
		margin-top 5px
		margin-right 20px
		transition 0.5s all ease-in-out
		border-radius 0
		&:hover
			color primary
			background-color transparent
			border-bottom-color primary
		&.active
			border-color primary
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus 
		cursor pointer
		background-color darken(primary, 20%) !important
		color white
		border 1px solid transparent
	.tab-status
		text-align left
		border-left 1px solid primary
		border-radius 0
		padding 30px
		h4
			font-size 15px
			text-transform uppercase
			letter-spacing 1.5px
		p
			font-size 15px
	.nav-tabs
		border-bottom none

.tab5
	.tab-pane
		padding-top 30px
	.nav-tabs > li
		border none
	.nav-tabs > li > a
		background-color transparent
		color primary
		border 1px solid
		font-size 15px
		margin-top 5px
		margin-right 20px
		transition 0.5s all ease-in-out
		border-radius 40px 10px 40px 10px
		&:hover
			color primary
			background-color transparent
			border-bottom-color primary
		&.active
			border-color primary
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus 
		cursor pointer
		background-color darken(primary, 20%) !important
		color white
		border 1px solid transparent
	.tab-status
		border-left 1px solid primary
		border-right 1px solid primary
		border-radius 40px 5px 40px 5px
		padding 30px
		h4
			font-size 15px
			text-transform uppercase
			letter-spacing 1.5px
		p
			font-size 15px
	.nav-tabs
		border-bottom none
.tab6
	.tab-pane
	.nav-tabs > li
		border none
	.nav-tabs > li > a
		top 5px
		padding-top 4px
		position relative
		background-color transparent
		color primary
		border 1px solid primary
		font-size 15px
		margin-top 5px
		margin-right 2px
		border-radius 0
		transition 0.5s all ease-in-out
		&:hover
			color primary
			background-color transparent
			border-bottom-color primary
		&.active
			border-color primary
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus 
		cursor pointer
		top 0
		border-bottom 2px solid white
		background-color primary
		color white
		border 1px solid transparent
	.tab-status
		transition 0.5s all
		background-color primary
		padding 30px
		form
			.form-group
				.input-group
					label
						// width 100%
						span
							color white
					.title
						h5
							color white
							background-color alpha(blue, 20%)
					span
						color white
					.title
						a
							font-size 15px
							color white
							text-decoration underline
						.input-group
							label
								width 100%
								h6
									text-align left
									color white
									margin-bottom 3px
								input
									width 100%
									background-color transparent
									border 1px solid white
									color white
									padding-left 10px
									padding-right 10px
									padding-top 5px
									padding-bottom 5px
								input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
									color white
								select
									width 100%
									cursor pointer
									background-color transparent
									border 1px solid white
									color white
									padding-left 10px
									padding-right 10px
									padding-top 5px
									padding-bottom 5px
									option
										background-color transparent
										border 1px solid white
										padding-left 10px
										padding-right 10px
										padding-top 5px
										padding-bottom 5px
		.search_button>.btn
			margin-top -10px
			margin-bottom 40px
			background-color transparent
			color white
			transition 0.5s all
			border-radius 0
			border 1px solid white
			&:hover, &:focus
				background-color white
				color primary
				outline none
		
	@media (max-width 350px)
		.tab-status
			text-align left
			padding-left 0
			padding-right 0
		.tab-status>li>
			padding  0
		.nav-tabs>li>a
			padding 5px 10px 5px 10px
	.nav-tabs
		border-bottom none
	
	.input-group
		width 100%
.datepicker td.active, .datepicker td.active:hover
	background-image: -webkit-linear-gradient(top, primary, darken(primary, 30%));