mixin tab1()
	//=== tabs starts here ===
	div()&attributes(attributes).tab1
		div(class="nav nav-tabs" role="tabpanel" id="#myTab")
			ul(class="nav nav-tabs" role="tablist")
				li(role="presentation" class="active")
					a(href="#1tab" aria-controls="1tab" role="tab" data-toggle="tab") Manager
				li(role="presentation")
					a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") Web Developer
				li(role="presentation")
					a(href="#messages" aria-controls="messages" role="tab" data-toggle="tab") Graphic Desinger
				li(role="presentation")
					a(href="#settings" aria-controls="settings" role="tab" data-toggle="tab") Marketing Officer
			div(class="tab-content")
				div(role="tabpanel" class="tab-pane fade in active" id="1tab")
					.tab-status
						h4.
							Business Flow
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="profile")
					.tab-status
						h4.
							Web Developer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="messages")
					.tab-status
						h4.
							Graphic Designer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="settings")
					.tab-status
						h4.
							Marketing Officer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.

		//=== tabs end here ===

mixin tab2()
	//=== tab2 starts here ===
	div()&attributes(attributes).tab2
		
		
		div(class="nav nav-tabs" role="tabpanel" id="#myTab")
			ul(class="nav nav-tabs" role="tablist")
				li(role="presentation" class="active")
					a(href="#manager2" aria-controls="manager2" role="tab" data-toggle="tab") Manager
				li(role="presentation")
					a(href="#developer2" aria-controls="developer2" role="tab" data-toggle="tab") Web Developer
				li(role="presentation")
					a(href="#graphic2" aria-controls="graphic2" role="tab" data-toggle="tab") Graphic Desinger
				li(role="presentation")
					a(href="#marketing2" aria-controls="marketing2" role="tab" data-toggle="tab") Marketing Officer
			div(class="tab-content")
				div(role="tabpanel" class="tab-pane fade in active" id="manager2")
					.tab-status
						h4.
							Business Flow
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="developer2")
					.tab-status
						h4.
							Web Developer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="graphic2")
					.tab-status
						h4.
							Graphic Designer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="marketing2")
					.tab-status
						h4.
							Marketing Officer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.

		
		//=== tab2 end here ===

mixin tab3()
	//=== tab3 start here ===
	div()&attributes(attributes).tab3

		//- tabs starts here
		
		div(class="nav nav-tabs" role="tabpanel" id="#myTab")
			ul(class="nav nav-tabs" role="tablist")
				li(role="presentation" class="active")
					a(href="#manager3" aria-controls="manager3" role="tab" data-toggle="tab") Manager
				li(role="presentation")
					a(href="#developer3" aria-controls="developer3" role="tab" data-toggle="tab") Web Developer
				li(role="presentation")
					a(href="#graphic3" aria-controls="graphic3" role="tab" data-toggle="tab") Graphic Desinger
				li(role="presentation")
					a(href="#marketing3" aria-controls="marketing3" role="tab" data-toggle="tab") Marketing Officer
			div(class="tab-content")
				div(role="tabpanel" class="tab-pane fade in active" id="manager3")
					.tab-status
						h4.
							Business Flow
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="developer3")
					.tab-status
						h4.
							Web Developer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="graphic3")
					.tab-status
						h4.
							Graphic Designer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="marketing3")
					.tab-status
						h4.
							Marketing Officer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.

	//=== tab3 end here ===



mixin tab4()
	//=== tab4 start here ===
	div()&attributes(attributes).tab4
		
		//- tabs starts here
		
		div(class="nav nav-tabs" role="tabpanel" id="#myTab")
			ul(class="nav nav-tabs" role="tablist")
				li(role="presentation" class="active")
					a(href="#care" aria-controls="care" role="tab" data-toggle="tab") Primary Care
				li(role="presentation")
					a(href="#Paediatrics" aria-controls="Paediatrics" role="tab" data-toggle="tab") Paediatrics
				li(role="presentation")
					a(href="#Gynaecology" aria-controls="Gynaecology" role="tab" data-toggle="tab") Gynaecology
				li(role="presentation")
					a(href="#Cardiology" aria-controls="Cardiology" role="tab" data-toggle="tab") Cardiology
			div(class="tab-content")
				div(role="tabpanel" class="tab-pane fade in active" id="care")
					.tab-status
						h4.
							Primary Care
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="Paediatrics")
					.tab-status
						h4.
							Paediatrics
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="Gynaecology")
					.tab-status
						h4.
							Gynaecology
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dologre magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="Cardiology")
					.tab-status
						h4.
							Cardiology
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.

	//=== tab4 end here ===


mixin tab5()
	//=== tab5 start here ===
	div()&attributes(attributes).tab5
		
		//- tabs starts here
		
		div(class="nav nav-tabs" role="tabpanel" id="#myTab")
			ul(class="nav nav-tabs" role="tablist")
				li(role="presentation" class="active")
					a(href="#manager5" aria-controls="manager5" role="tab" data-toggle="tab") Manager
				li(role="presentation")
					a(href="#developer5" aria-controls="developer5" role="tab" data-toggle="tab") Web Developer
				li(role="presentation")
					a(href="#graphic5" aria-controls="graphic5" role="tab" data-toggle="tab") Graphic Desinger
				li(role="presentation")
					a(href="#marketing5" aria-controls="marketing5" role="tab" data-toggle="tab") Marketing Officer
			div(class="tab-content")
				div(role="tabpanel" class="tab-pane fade in active" id="manager5")
					.tab-status
						h4.
							Business Flow
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="developer5")
					.tab-status
						h4.
							Web Developer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="graphic5")
					.tab-status
						h4.
							Graphic Designer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
				div(role="tabpanel" class="tab-pane fade" id="marketing5")
					.tab-status
						h4.
							Marketing Officer
						p.
							Lorem ipsum dolor sit nekores, conse acing elit, sed do eiusmod ds
							tempor incididunt ut labore et dfdsf dolore magna aliqua. Ut enim ad minim veniam,
							quis.
		//=== tab5 end here ===


mixin tab6()
	//=== tab6 start here ===
	div()&attributes(attributes).tab6
		
		//- tabs starts here
		
		div(class="nav nav-tabs" role="tabpanel" id="#myTab")
			ul(class="nav nav-tabs" role="tablist")
				li(role="presentation" class="active")
					a(href="#manager6" aria-controls="manager6" role="tab" data-toggle="tab") Flights
				li(role="presentation")
					a(href="#developer6" aria-controls="developer6" role="tab" data-toggle="tab") Car
				li(role="presentation")
					a(href="#graphic6" aria-controls="graphic6" role="tab" data-toggle="tab") Hotels
			div(class="tab-content")
				div(role="tabpanel" class="tab-pane active" id="manager6")
					.tab-status
						form(role="form")
							.form-group.no-margin
								.input-group
									.col-md-6.col-sm-12
										label.checkbox-inline
											span Register
												input(type="radio"  id="inlineCheckbox1" value="option1" checked)
										label.checkbox-inline
											span Way
												input(type="radio" id="inlineCheckbox2" value="option2") 
										.mv20
											.title.mb10
												h5.text-center Multiple Destination
												.form-group.no-margin
													.input-group.mt20
														.col-md-6.col-sm-6
															label
																h6 Country
																select
																	option(value="Paris") Paris
																	option(value="Canada") Canada
																	option(value="Pakistan") Pakistan
																	option(value="London") London
																	option(value="America") America
																	option(value="Japan") Japan
																	option(value="Thiland") Thiland
														.col-md-6.col-sm-6
															label
																h6 City
																select
																	option(value="Deira") Deira
																	option(value="Canada") Karachi
																	option(value="Pakistan") Washington
																	option(value="London") Newyork
																	option(value="America") Texas
																	option(value="Japan") Chigago
																	option(value="Thiland") Standford
									.col-md-6.col-sm-12.mt45
										.title
											a(href="#") Nearby Airport
												input.mr30(type="checkbox"  id="inlineCheckbox1" value="option1" style="float:left; margin-right:5px;" checked)
											.form-inline.mv15
												.input-group
													.col-md-6.col-sm-6
														label
															h6 Check In
															input.dpd1(type="text" placeholder="mm/dd/yyyy" class="form-control" required)
													.col-md-6.col-sm-6
														label
															h6 Check out
															input.dpd2(type="text" placeholder="mm/dd/yyyy" class="form-control" required)
									.col-md-12
										.col-md-12
											.search_button.pull-right
												button(type="submit" value="submit" class="btn btn-default") Find Out

				div(role="tabpanel" class="tab-pane " id="developer6")
					.tab-status
						form(role="form")
							.form-group.no-margin
								.input-group
									.col-md-6.col-sm-12
										label.checkbox-inline
											span Register
												input(type="radio"  id="inlineCheckbox1" value="option1" checked)
										label.checkbox-inline
											span Cities
												input(type="radio" id="inlineCheckbox2" value="option2") 
										.mv20
											.title.mb10
												h5.text-center Multiple Cities
												.form-group.no-margin
													.input-group.mt20
														.col-md-6.col-sm-6
															label
																h6 From City
																select
																	option(value="Deira") Deira
																	option(value="Canada") Karachi
																	option(value="Pakistan") Washington
																	option(value="London") Newyork
																	option(value="America") Texas
																	option(value="Japan") Chigago
																	option(value="Thiland") Standford
														.col-md-6.col-sm-6
															label
																h6 To City
																select
																	option(value="Deira") Deira
																	option(value="Canada") Karachi
																	option(value="Pakistan") Washington
																	option(value="London") Newyork
																	option(value="America") Texas
																	option(value="Japan") Chigago
																	option(value="Thiland") Standford
									.col-md-6.col-sm-12.mt45
										.title
											a(href="#") Nearby Cities
												input.mr30(type="checkbox"  id="inlineCheckbox1" value="option1" style="float:left; margin-right:5px;" checked)
											.form-inline.mv15
												.input-group
													.col-md-6.col-sm-6
														label
															h6 Check In
															input.dpd1(type="text" placeholder="mm/dd/yyyy" class="form-control" required)
													.col-md-6.col-sm-6
														label
															h6 Check out
															input.dpd2(type="text" placeholder="mm/dd/yyyy" class="form-control" required)
									.col-md-12
										.col-md-12
											.search_button.pull-right
												button(type="submit" value="submit" class="btn btn-default") Find Out
				div(role="tabpanel" class="tab-pane " id="graphic6")
					.tab-status
						form(role="form")
							.form-group.no-margin
								.input-group
									.col-md-6.col-sm-12
										label.checkbox-inline
											span Register
												input(type="radio"  id="inlineCheckbox1" value="option1" checked)
										label.checkbox-inline
											span Price
												input(type="radio" id="inlineCheckbox2" value="option2")
										.mv20
											.title.mb10
												h5.text-center Multiple Hotels
												.form-group.no-margin
													.input-group.mt20
														.col-md-6.col-sm-6
															label
																h6 Country
																select
																	option(value="Paris") Paris
																	option(value="Canada") Canada
																	option(value="Pakistan") Pakistan
																	option(value="London") London
																	option(value="America") America
																	option(value="Japan") Japan
																	option(value="Thiland") Thiland
														.col-md-6.col-sm-6
															label
																h6 City
																select
																	option(value="Deira") Deira
																	option(value="Canada") Karachi
																	option(value="Pakistan") Washington
																	option(value="London") Newyork
																	option(value="America") Texas
																	option(value="Japan") Chigago
																	option(value="Thiland") Standford
															
									.col-md-6.col-sm-12.mt45
										.title
											a(href="#") Nearby Hotel
												input.mr30(type="checkbox"  id="inlineCheckbox1" value="option1" style="float:left; margin-right:5px;" checked)
											.form-inline.mv15
												.input-group
													.col-md-6.col-sm-6
														label
															h6 Check In
															input.dpd1(type="text" placeholder="mm/dd/yyyy" class="form-control" required)
													.col-md-6.col-sm-6
														label
															h6 Check out
															input.dpd2(type="text" placeholder="mm/dd/yyyy" class="form-control" required)
									.col-md-12
										.col-md-12
											.search_button.pull-right
												button(type="submit" value="submit" class="btn btn-default") Find Out