.help-section
	.doctors
		a
			text-decoration none
			img
				position relative
			.name1
				position absolute
				bottom 40px
				left 30px
				h4
					color lighten(black,10%)
					font-weight 600
					font-size 24px
				small
					color lighten(black,20%)
					font-weight 200
					font-size 20px
			.name2
				position absolute
				bottom 40px
				left 30px
				h4
					color lighten(black,10%)
					font-weight 600
					font-size 24px
				small
					color lighten(black,20%)
					font-weight 200
					font-size 20px
			.name3
				position absolute
				bottom 40px
				left 30px
				h4
					color lighten(black,10%)
					font-weight 600
					font-size 24px
				small
					color lighten(black,20%)
					font-weight 200
					font-size 20px
			.name4
				position absolute
				bottom 40px
				left 30px
				h4
					color lighten(black,10%)
					font-weight 600
					font-size 24px
				small
					color lighten(black,20%)
					font-weight 200
					font-size 20px
					
				