extends ../../../../../views/layout/main.jade
block main_content

	// Navbar
	+makutravel_navbar()

	//- // slider starts here
	//- +construction_owl()

	// ABOUT SECTION
	+about-makutravel()
	
	// GALLERY START HERE
	+gallery-makutravel()
	// features starts here
	+features-makutravel()

	// team SECTION
	+team-makutravel()
	
	// services starts here
	+services-makutravel()

	// quote starts here
	+quote-makutravel()

	// CONTACT START HERE
	+contact-makutravel()


	// CONTACT START HERE
	+footer-makutravel()
	include ../../../../../models/back-to-top/back-to-top.jade
	include ../../../../../models/loder/loder.jade
	include ../../../../../models/switcher/switcher.jade