mixin call-out()
	.section.bg-grey
		.container
			.row
				.col-md-12
					+call-out-btn-right()
					.mt50
				
					+call-out-btn-right-icon()
					.mt50
				
					+call-out-bdr-btn-right()
					.mt50
					
					+call-out-speak-bottom()
					.mt50
		.container-fluid
			.row
				.col-md-12.no-padding
					+call-out-bg-image()