.footer-envision
	background-color #2a2a2a
	.col-md-4th
		width: 25%;
		margin-left: 48px;
		float: left;
		margin-right: 49px;
	@media(max-width: 1199px)
		.col-md-4th
			margin-left: 40px;
			margin-right: 40px;
	@media(max-width: 991px)
		.col-md-4th
			width 100%
			margin-left: 0px;
			margin-right: 0px;
	.ulist
		padding-top 42px
		padding-bottom 42px
	.partition1
		.head
			text-transform uppercase
			padding-left -40px
			border-bottom 1px solid gray
			font-weight 900
			color darken(white, 20%)
			font-size 15px
		.para
			line-height 20px
			color white
			font-size 13px
			font-weight 100
	.footer-text
		background-color #333
		h5
			font-size 13px
			font-weight 100
			color white
			span
				font-weight 600 !important