mixin whatwedo()
	//=== what we do section start here ===
	section#whatwedo.whatwedo()&attributes(attributes)
		.container
			.row.mb80
				.col-md-7
					h2.section-titles.dark what we 
						span
							|do
					h4.testmonial-para Lorem ipsum 
						span
							|dolor amet
					p.what-we-do-para.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation
						consequat. Duis aute irure dolor in reprehenderit.
				.col-md-4.col-md-offset-1.no-padding
					.heading-title
						h3 wedding 
							span photography
						h3 portrait   
							span photography
						h3 fashion 
							span photography
						h3 event 
							span photography
						h3 places 
							span photography

	//=== what we do section end here ===
