.whatwedo
	position relative
	.what-we-do-para
		margin-top 30px
	.heading-title
		padding 0px 20px 0px 0px
		border-right 10px solid primary
		margin-top 110px
		text-align right
		font-size 28px
		text-transform capitalize
		color primary
		h3
			font-weight 500
			padding 10px
			span
				font-weight 300
				color #777
	@media(max-width 677px)
		.testmonial-para
			text-align center
		.what-we-do-para
			text-align center
		.heading-title
			padding 0px 0px 0px 0px
			text-align center
			border-right none