mixin login-form1()
	section&attributes(attributes)
		.container
			.row
				+login-account1()


mixin login-form2()
	section&attributes(attributes)
		.container
			.row
				+login-account2()

mixin login-form3()
	section&attributes(attributes)
		.container
			.row
				+login-account3()

mixin signup-form1()
	section&attributes(attributes)
		.container
			.row
				+signup-account1()
