extends ../views/layout/main.jade
block main_content
	+navbar-pack().navbar-fixed-top.custom-navbar.navbar-default.navbar-dark
	//- +rslider1()
	+index-home()
	//- +footer-1()
	include ../models/loder/loder.jade