//- // navbar starts here
//- header(data-spy="affix",data-offset-top="100")
//-     .container
//-         .row
//-             .col-xs-12.col-sm-12.col-md-2
//-                 .logo.hidden-sm.hidden-xs
//-                     img(src='img/logo.png')
//-                 .logo.hidden-md.hidden-lg.text-center
//-                     img(src='img/logo.png')
//-             .col-xs-12.col-sm-12.col-md-10
//-                 nav(class="navbar navbar-default", role="navigation").navbar-inverse
//-                     .navbar-header
//-                         button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='.main-navbar')  
//-                             span.sr-only Toggle navigation
//-                             span.fa.fa-bars
//-                     .collapse.navbar-collapse.main-navbar
//-                         ul.nav.navbar-nav.pull-right
//-                             li
//-                                 a(href='index.html') Home
//-                             li
//-                                 a(href='#') Services

//-                             li.dropdown
//-                                 a(href='#', class='dropdown-toggle', data-toggle='dropdown')
//-                                     | Pages    
//-                                     span.fa.fa-angle-down
//-                                 ul.dropdown-menu.pages-dropdown
//-                                     li
//-                                         a(href='#') Another Link
//-                                     li
//-                                         a(href='#') Another Link
//-                                     li
//-                                         a(href='#') Another Link


//-                             li
//-                                 a(href='#') Shop
//-                             li
//-                                 a(href='#') Portfolio
//-                             li.dropdown
//-                                 a(href='#', class='dropdown-toggle', data-toggle='dropdown')
//-                                     | Components  
//-                                     span.fa.fa-angle-down

//-                                 ul.dropdown-menu.components-dropdown
//-                                     li
//-                                         a(href='typography.html')
//-                                             i(class='fa fa-pencil')
//-                                             |  Typography
//-                                     li
//-                                         a(href='image-boxes.html')
//-                                             i(class='fa fa-bold')
//-                                             |  Image Boxes
                                    
//-                                     li
//-                                         a(href='icon-boxes.html')
//-                                             i(class='fa fa-bars')
//-                                             |  Icon Boxes
//-                                     li
//-                                         a(href='coming-soon.html')
//-                                             i(class='fa fa-bars')
//-                                             |  coming soon 

//-                                     li
//-                                         a(href='404.html')
//-                                             i(class='fa fa-leaf')
//-                                             |  404
//-                                     li
//-                                         a(href='blog-body.html')
//-                                             i(class='fa fa-pencil')
//-                                             |  Blog

//-                                     li
//-                                         a(href='#')
//-                                             i(class='fa fa-gear')
//-                                             |  Dropdowns

//-                             li
//-                                 a(href='blog-home.html') Blog
//-                             li
//-                                 a(href='#') 
//-                                     span.fa.fa-search

