//- //-=== NAVBAR STARTS ===

//- mixin header1()
//- 	header(data-spy="affix", data-offset-top="50")
//- 		.container
//- 			.row
//- 				.col-xs-12.col-sm-12.col-md-2
//- 					.logo.hidden-sm.hidden-xs
//- 						a(href="index.html")
//- 							//- img(src='img/relogo.png')
//- 					.navbar-brand.logo.hidden-md.hidden-lg.text-center
//- 						a(href="index.html") Upack
//- 							//- img(src='img/relogo.png')
//- 				.col-xs-12.col-sm-12.col-md-10
//- 					nav(role="navigation").navbar.navbar-default
//- 						.navbar-header
//- 							button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='.main-navbar')
								
//- 								span.sr-only Toggle navigation
//- 								span.fa.fa-bars

							

//- 						.collapse.navbar-collapse.main-navbar
//- 							ul.nav.navbar-nav.pull-right
//- 								li.dropdown
//- 									a(href='#', class='dropdown-toggle', data-toggle='dropdown' data-submenu aria-expanded="false" role="button" )
//- 										| Home 
//- 										span.fa.fa-angle-down
//- 									ul.dropdown-menu
//- 										li
//- 											a(href="one-revolution.html") Default Landing Page
//- 										li
//- 											a(href="one-parallax.html") Coprate 1
//- 										li
//- 											a(href="one-video-bg.html") Wedding 
//- 										li
//- 											a(href="one-index.html") Constructions 
//- 										li
//- 											a(href="one-text-rotator.html") Medical 
//- 										li
//- 											a(href="one-youtube-bg.html") Music Events  
//- 										li
//- 											a(href="one-youtube-bg.html") Events  
//- 										li
//- 											a(href="one-youtube-bg.html") Ecommerce  
//- 										li
//- 											a(href="one-youtube-bg.html") Resturant  
//- 										li
//- 											a(href="one-youtube-bg.html") Education 

//- 								// ===== Mega Menu Start ===


//- 								li.dropdown.mega-menu
//- 									a(href='#', class='dropdown-toggle', data-toggle='dropdown')
//- 										| Pages  
//- 										span.fa.fa-angle-down

//- 									ul.dropdown-menu
//- 										li
//- 											.mega-content
//- 												.row
//- 													.col-sm-6
//- 														h3 Pages
//- 														.row
//- 															.col-sm-6.mega-fw
//- 																ul
//- 																	li
//- 																		a(href='about-01.html') About 1
//- 																	li
//- 																		a(href='about-02.html') About 2
//- 																	li
//- 																		a(href='about-03.html') About 3 
//- 																	li
//- 																		a(href='contact-01.html') Contact 1 
//- 																	li
//- 																		a(href='contact-02.html') Contact 2 
//- 																	li
//- 																		a(href='services-01.html') Services 1
//- 																	li 
//- 																		a(href='services-02.html') Services 2
//- 															.col-sm-6.mega-fw
//- 																ul
//- 																	li
//- 																		a(href='p-table-01.html') Pricing 1
//- 																	li
//- 																		a(href='p-table-02.html') Pricing 2
//- 																	li
//- 																		a(href="login.html") Login
//- 																	li
//- 																		a(href="registration.html") Registration
//- 																	li
//- 																		a(href="faq.html") Faq

//- 								//mega menu ENDS

//- 								li.dropdown
//- 									a(href='#', class='dropdown-toggle', data-toggle='dropdown' data-submenu aria-expanded="false")
//- 										|	Features 
//- 										span.fa.fa-angle-down
//- 									ul.dropdown-menu
//- 										li
//- 											a(href="portfolio-01.html")
//- 												|	Headers 
//- 										li
//- 											a(href="portfolio-02.html")
//- 												|	Portfolio 2
//- 										li.dropdown-submenu
//- 											a(href='')
//- 												|	Single
//- 											ul.dropdown-menu
//- 												li
//- 													a(href="portfolio-03.html")
//- 														|	Single 1
//- 												li
//- 													a(href="portfolio-04.html")
//- 														|	Single 2
//- 								li.dropdown
//- 									a(href='#', class='dropdown-toggle', data-toggle='dropdown' data-submenu aria-expanded="false")
//- 										|	Blog	 
//- 										span.fa.fa-angle-down
//- 									ul.dropdown-menu
//- 										li.dropdown-submenu
//- 											a(href='')
//- 												|	grid
//- 											ul.dropdown-menu
//- 												li
//- 													a(href="blog2-column.html")
//- 														|	2 Column
//- 												li
//- 													a(href="blog3-column.html")
//- 														|	3 Column
//- 										li
//- 											a(href="blog2-column.html")
//- 												| Blog 2 col
//- 										li
//- 											a(href="blog-3-column.html")
//- 												| Blog 3 col
//- 								li.dropdown
//- 									a(href='#', class='dropdown-toggle', data-toggle='dropdown' data-submenu aria-expanded="false")
//- 										|	Shop 
//- 										span.fa.fa-angle-down
//- 									ul.dropdown-menu
//- 										li
//- 											a(href="shop.html")
//- 												|	Shop Home 1
//- 										li
//- 											a(href="shop-home-2.html")
//- 												|	Shop Home 2
//- 										li
//- 											a(href="shop-grid-4.html")
//- 												|	Grid - 4 Columns
//- 										li
//- 											a(href="shop-grid-3.html")
//- 												|	Grid - 3 Columns
//- 										li
//- 											a(href="shop-grid-2.html")
//- 												|	Grid - 2 Columns
//- 										li
//- 											a(href="shop-grid-with-sidebar.html")
//- 												|	Grid - With Sidebar
//- 										li
//- 											a(href="shop-list.html")
//- 												|	List
//- 										li
//- 											a(href="shop-product.html")
//- 												|	Product
//- 										li
//- 											a(href="shopping-cart.html")
//- 												|	Shopping Cart
//- 										li
//- 											a(href="checkout-step1.html")
//- 												|	Checkout Page - Step 1



//- 								// ===== Mega Menu Start ===


//- 								li.dropdown.mega-menu
//- 									a(href='#', class='dropdown-toggle', data-toggle='dropdown')
//- 										| Mega Menu  
//- 										span.fa.fa-angle-down

//- 									ul.dropdown-menu
//- 										li
//- 											.mega-content
//- 												.row
//- 													.col-sm-6
//- 														h3 Features
//- 														.row
//- 															.col-sm-6.mega-fw
//- 																ul
//- 																	li
//- 																		a(href='buttons.html') Buttons
//- 																	li
//- 																		a(href='image-boxes.html') Image Boxes
//- 																	li
//- 																		a(href='iconbox.html') Icons Boxes
//- 																	li
//- 																		a(href='typography.html') Typography
//- 																	li
//- 																		a(href='forms.html') Forms
//- 																	li
//- 																		a(href='collapse.html') Collapse
//- 																	li
//- 																		a(href='coming-soon.html') Navs
//- 																	li
//- 																		a(href='coming-soon.html') Headers
//- 															.col-sm-6.mega-fw
//- 																ul
//- 																	li
//- 																		a(href='tabs.html') Tabs
//- 																	li
//- 																		a(href='pricestable.html') Pricing Table 
//- 																	li
//- 																		a(href='slider.html') Sliders 
//- 																	li
//- 																		a(href='callouts.html') Callouts
//- 																	li
//- 																		a(href='counters.html') Counters
//- 																	li
//- 																		a(href='progresbars.html') Progress Bars
//- 																	li
//- 																		a(href='footers.html') Footers
//- 																	li
//- 																		a(href='panels.html') Panels
//- 															.col-sm-6.mega-fw
//- 																ul
//- 																	li
//- 																		a(href='panels.html') panek

//- 								//mega menu ENDS	 
//- 								li
//- 									a(data-scroll href='#contact') Contact Us

//- 								li.dropdown
//- 									a(href='#')
//- 										i.fa.fa-shopping-cart

//- //-=========================== NAVBAR ENDS ===