.testfinal
	// border 2px solid darken(white,10%)
	// border 2px solid transparent
	box-shadow 0px 0px 10px 0px #ccc
	// border-radius 10px
	// background-color alpha(primary,40%)
	display inline-block
	img
		// box-shadow 0px 0px 5px 0px
		// border-radius 30%
		border 1px solid #ccc
		// display block
	h1 
		// position relative
		color primary
		font-size 23px
		letter-spacing 0.9px
		word-spacing 0.9px
		line-height 15px
		// top 0px
		// left 0px
	p
		font-size 16px
		letter-spacing 0.9px
		word-spacing 0.9px
		line-height 20px
		color lighten(black,10%)