mixin medical-testfinal(srcimg,name)
	.testfinal.mv40&attributes(attributes)
		.col-md-4
			a(href="img/#{srcimg}")
				img.mv20(src="img/#{srcimg}" class="img-responsive")
		.col-md-8
			h1.mt35 #{name}
				span.clr-primary.pull-right.fa.fa-quote-right.fs26
			p.mv20.
				Csenim ad minima veniam sciporiosam.
				Veasisi ut aliquixeraea commonseq me meyrerertas.