//=== start back-to-top here ===
div
    a(href="#" id='backtotop')
        div
            .backtop
                .backtotop-icon(href="#")
                    i.fa.fa-angle-double-up
//=== end back-to-top here ===