.backtop
	z-index 4
	position fixed
	right 0
	padding 0
	margin 0
	transition 0.5s all
	bottom 20px
	right 20px
.backtotop-icon
	width 35px
	height	35px
	display inline-block
	text-align center
	background-color primary
	color primary
	transition all 0.5s
	border-radius 20px 20px 0px 0px	
	margin-left 10
	&:hover
			background-color alpha(primary, 90%)
	.fa
		line-height 38px
		font-size 20px
		color white
		&:hover
			color white