
//- include files from models

//-=== components models includes start here ===

//- include ../models/navbar/navbar.jade
//- include ../models/loder/loder.jade
//- include ../models/header/header/navbar.jade
//- //- include ../models/header/navbar.jade
include ../models/components/buttons/buttons.jade
//- include ../models/components/brands/brands.jade
//- include ../models/components/typography/typography.jade
//- include ../models/components/forms/form.jade
//- include ../models/components/price-table/price-table.jade
//- include ../models/components/dividers/divider.jade
//- include ../models/components/progress-bar/progress-bar.jade
include ../models/components/icons/icons.jade
//- include ../models/components/counters/counters.jade
//- include ../models/components/call-out/call-out.jade
//- include ../models/components/collapse/collapse.jade
//- include ../models/components/modals/modal.jade
//- include ../models/components/iconbox/iconbox.jade
include ../models/components/imgbox/imgbox.jade
//- include ../models/components/pagination/page.jade
//- include ../models/components/tabs/tabs.jade
//- include ../models/components/charts/charts.jade
//- include ../models/blog/blog.jade
//- include ../models/blog/blog-sidebar.jade
//- include ../models/blog/blog-detail-post.jade


//- include ../models/sliders/rslider1.jade

//- //- our team

//- include ../models/features/ourteam/ourteam1.jade


//- //- footer

//- include footer/footers-page.jade
//- include ../models/footer/footer1.jade
//- include ../models/footer/footer2.jade
//- include ../models/footer/defaultfooter.jade

//- slider

include ../models/sliders/slider.jade
//- include ../models/sliders/owl-slider.jade

//- 	//-=== components models includes end here ===

//- //- include files from views

//- //-===components includes start here ==== 

//- //- include ../models/navbar/navbar.jade
//- include components/buttons/buttons.jade
//- include components/brands/brands.jade
//- include components/typography/typography.jade
//- include components/forms/forms.jade
//- include components/price-table/price-table.jade
//- include components/dividers/divider.jade
//- include components/progress/progress-bar.jade
//- include components/icon-comp/icon-comp.jade
//- include components/counters/counters.jade
//- include components/call-out/call-out.jade
//- include components/collapse-comp/collapse.jade
//- include components/modals-comp/modal.jade
//- include components/iconbox-comp/iconbox.jade
//- include components/imgbox-comp/imgbox.jade
//- include components/pagination/page.jade
//- include components/tabs-comp/tabs.jade
//- include components/charts/page-chart.jade
//- include blogs/blogs.jade


//- include features/sliders/rslider.jade
//- include features/sliders/vagas-slider.jade
//- include features/sliders/owl-slider.jade

//- //-=====components includes end here ====

//- //- blog layout

//- include home/blog-layout/blog-layout1.jade
//- include home/home-layouts/index.jade
//- include home/home-layouts/index2.jade

//- //- features
//- //- portfolio
//- //- MODEL FEATURES INCLUDED HERE
//- include features/portfolio/home-portfolio-layouts.jade

//- include features/icons/fontawsom-icons.jade
//- include features/icons/glyphion-icon.jade

//- include ../models/features/login/login-acc.jade
//- include ../models/features/login/login.jade
//- include ../models/features/login/signin-bg.jade
//- include ../models/features/login/signup-bg.jade

//- //- VEIW FEATURES INDCLUDED HERE
//- include features/login-forms/login-forms.jade







//- //- portfolio grid
include ../models/gallery/gallery.jade
include ../models/gallery/2column/2column.jade
include ../models/gallery/3columngrid/3columngrid.jade
include ../models/gallery/4columngrid/4columngrid.jade
include portfolio/portfolio.jade
//- portfolio grid
include ../models/gallery/gridcolumnfullwidth/2columngridfullwidth/2columngridfullwidth.jade
include ../models/gallery/gridcolumnfullwidth/3columngridfullwidth/3columngridfullwidth.jade
include ../models/gallery/gridcolumnfullwidth/4columngridfullwidth/4columngridfullwidth.jade
include ../models/gallery/gridcolumnfullwidth/5columngridfullwidth/5columngridfullwidth.jade
include portfolio/gridspacefullwidth/fullwidthsapcegrid.jade
//-no space grid
include ../models/gallery/nospaceboxed/2columnnospaceboxed/2columnnospaceboxed.jade
include ../models/gallery/nospaceboxed/3columnnospaceboxed/3columnnospaceboxed.jade
include ../models/gallery/nospaceboxed/4columnnospaceboxed/4columnnospaceboxed.jade
include portfolio/nospaceboxed/nospaceboxed.jade
//-no space grid full width
include ../models/gallery/nospacefullwidth/2columnnospacefullwidth/2columnnospacefullwidth.jade
include ../models/gallery/nospacefullwidth/3columnnospacefullwidth/3columnnospacefullwidth.jade
include ../models/gallery/nospacefullwidth/4columnnospacefullwidth/4columnnospacefullwidth.jade
include portfolio/nospacefullwidth/nospacefullwidth.jade


//- //- pages

//- include ../models/fof/fof.jade
//- include pages/error-pages/fof.jade
//- //- services
//- include pages/services/services.jade
//- include pages/ourteam/ourteam.jade

//- //- about-us
//- include features/about-us/about-us1.jade

//- include ../models/features/contact-forms/contact.jade
//- include pages/price/price.jade
//- include pages/price/price2.jade
//- include ../models/features/price/price.jade
//- include pages/contact-forms/contact.jade
//- include pages/contact-forms/shop.jade

//- include ../models/contact-forms/contactformfullwidth.jade
//- include ../models/contact-forms/contact.jade

//- //- contact forms
//- include contact-us/contact-form.jade

//- //- theme photography

//- include ../models/contact-forms/contact-us.jade
//- include ../models/features/people-says/people-say.jade
//- include ../models/features/photo-passion/photo-passion.jade
//- include ../models/features/whatwedo/what-we-do.jade
//- include ../models/features/about-us/about-us.jade
//- include ../models/gallery/portfolio1.jade
//- include ../models/features/testimonials/testimonials.jade

//- //- photography theme
//- include photography/photography1.jade
//- include photography/photography-video.jade
//- include photography/photography-img.jade
//- include photography/photography-particles.jade

//- include index/index.jade
//- include themes/one-page-version/one-page-version.jade
//- include themes/one-page-version/navbar.jade

//- include themes/hotel/hotel.jade

//- include ../models/headings/heading.jade
//- include ../models/themes/appointment/appointment.jade
//- include ../models/themes/callout/callout.jade
//- include ../models/themes/footer/footer.jade
//- include ../models/themes/help/help.jade
//- include ../models/themes/news/news.jade
//- include ../models/themes/services/services.jade
//- include ../models/themes/testimonial/testimonial.jade
//- include ../models/themes/sliders/medical-slider.jade
//- include ../models/themes/staff/staff.jade
//- //- medical theme
//- include themes/madical/medical.jade


//- //- comming soon pages

//- include ../models/components/countdown/box.jade
//- include ../models/components/countdown/countdowns.jade
//- include themes/commingsoon/comingsoon.jade
//- include themes/commingsoon/box.jade


//- //- model includes

//- //- include ../models/navbar/navbar.jade
//- //- include ../models/gallery/gallery.jade
//- include ../models/component-sidebar/component-nav.jade
//- include ../models/component-header/component-header.jade



//- //- include views

//- //- include index/slider/slider.jade
//- //- include services/services.jade
//- //- include contact-us/contact-us.jade
//- //- include people-say/people-say.jade
//- //- include index/whatwedo/what-we-do.jade
//- //- include index/count-up/count-up.jade
//- //- include index/photography/photo-passion.jade




//- //- ========================sajid work=========================
//- //- ========themes========
//- //- ====construction=====
//- //- =envision=
//- include themes/construction/envision/navbar/navbar.jade
//- include themes/construction/envision/team/team.jade
//- include themes/construction/envision/services/services.jade

//- //- SLIDER SECTION START HERE..
//- //- include themes/construction/envision/slider/slider.jade
//- //- SLIDER SECTION END HERE..

//- //- ABOUT SECTION START HERE..
//- include themes/construction/envision/about/about.jade

//- //- FEATURE TAB SECTION STARTS HERE..
//- include themes/construction/envision/feature/feature.jade

//- //- QUOTE TAB SECTION STARTS HERE..
//- include themes/construction/envision/quote/quote.jade

//- //- CONTACT US SECTION
//- include themes/construction/envision/contact/contact.jade

//- //- GALLERY US SECTION
//- include themes/construction/envision/gallery/gallery.jade

//- //- FOOTER US SECTION
//- include themes/construction/envision/footer/footer.jade

//- //- WIDGETS For Theme
//- include themes/construction/envision/widgets/widgets.jade

//- //- BLOG For Theme
//- include themes/construction/envision/blog/blog.jade

//- //- loader
//- include themes/construction/envision/constructionloader.jade

//- //- =enthink=
//- include themes/construction/enthink/helpers-titles/helpers-titles.jade


//- include themes/construction/enthink/navbar/navbar.jade
//- include themes/construction/enthink/team/team.jade
//- include themes/construction/enthink/services/services.jade
//- include themes/construction/enthink/slider/slider.jade

//- //- SLIDER SECTION START HERE..
//- //- include themes/construction/enthink/slider/slider.jade
//- //- SLIDER SECTION END HERE..

//- //- ABOUT SECTION START HERE..
//- include themes/construction/enthink/about/about.jade

//- //- FEATURE TAB SECTION STARTS HERE..
//- include themes/construction/enthink/feature/feature.jade

//- //- QUOTE TAB SECTION STARTS HERE..
//- include themes/construction/enthink/quote/quote.jade

//- //- CONTACT US SECTION
//- include themes/construction/enthink/contact/contact.jade

//- //- GALLERY US SECTION
//- include themes/construction/enthink/gallery/gallery.jade

//- //- FOOTER US SECTION
//- include themes/construction/enthink/footer/footer.jade

//- //- WIDGETS For Theme
//- include themes/construction/enthink/widgets/widgets.jade

//- //- BLOG For Theme
//- include themes/construction/enthink/blog/blog.jade

//- =makutravel=
//- include themes/travel/makutravel/section/makutravel.jade
//- include themes/travel/makutravel/helpers-titles/helpers-titles.jade
//- //- WIDGETS For Theme
//- include themes/travel/makutravel/widgets/widgets.jade

//- =COOKING THEME INCLUDES=
//- include themes/cooking/cooking.jade
//- include themes/cooking/helpers-titles/helpers-titles.jade

//- APP THEME INCLUDES
//- === APPBOX ===
include themes/app/appbox/appbox_index.jade
