.resturent-bg
	background url(../img/resturent/room-4.png) fixed no-repeat
.twitts
	padding-top 5px
	.media-left
		.tweet-img
			img
				width 220px !important
				height 100px
	.media-right
		.tweet-date
			color darken(white, 70%)
			text-transform capitalize
			font-weight 200