mixin component-nav()
	.component-nav#nav
		h2.nav-title components
		hr
		ul.list-unstyled.list-group-icon
			li
				a(href="typography.html") 
					| typography
			li
				a(href="buttons.html") 
					| buttons
			li
				a(href="brands.html") 
					| brands
			li
				a(href="forms.html") 
					| forms
			li
				a(href="progresbars.html") 
					| progress bars
			li
				a(href="dividers.html") 
					| dividers
			li
				a(href="pricestable.html") 
					| price tables
			li
				a(href="callouts.html") 
					| call outs
			li
				a(href="iconbox.html") 
					| icon boxes
			li
				a(href="modals.html") 
					| modals
			li
				a(href="collapse.html") 
					| collapse
			li
				a(href="image-boxs.html") 
					| image box
			li
				a(href="pagination.html") 
					| pagination
			li
				a(href="charts.html") 
					| charts
			li
				a(href="tabs.html") 
					| tabs and pills
			li
				a(href="counters.html") 
					| counters
