mixin glyficons-icons()
    section()&attributes(attributes).icon-component
        .container
            .row
                .col-md-8
                    h2.comp-title Icon Components
                    hr
                    .section-top-text
                        .heading
                        .description
                            p.fw100.
                                Upack Designed Icons in different size
                        //- .section-top-text.mt80
                        .heading
                            h2.comp-titles Glyphicon Components
                        .description
                            p.fw100.
                                Upack Designed Glyphicon
                            hr
                        ul(class="list-inline clearfix glyphicon-list")

                            li
                                +icon-gi("glyphicon-asterisk","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-plus","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-euro","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-eur","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-minus","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cloud","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-envelope","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-pencil","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-glass","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-music","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-search","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-heart","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-star","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-star-empty","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-user","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-film","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-th-large","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-th","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-th-list","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ok","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-remove","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-zoom-in","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-zoom-out","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-off","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-signal","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cog","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-trash","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-home","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-file","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-time","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-road","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-download-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-download","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-upload","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-inbox","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-play-circle","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-repeat","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-refresh","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-list-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-lock","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-flag","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-headphones","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-volume-off","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-volume-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-volume-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-qrcode","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-barcode","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tag","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tags","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-book","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bookmark","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-print","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-camera","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-font","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bold","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-italic","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-text-height","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-text-width","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-align-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-align-center","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-align-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-align-justify","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-list","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-indent-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-indent-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-facetime-video","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-picture","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-map-marker","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-adjust","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tint","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-edit","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-share","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-check","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-move","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-step-backward","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-fast-backward","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-backward","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-play","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-pause","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-stop","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-forward","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-fast-forward","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-step-forward","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-eject","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-chevron-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-chevron-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-plus-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-minus-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-remove-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ok-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-question-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-info-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-screenshot","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-remove-circle","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ok-circle","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ban-circle","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-arrow-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-arrow-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-arrow-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-arrow-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-share-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-resize-full","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-resize-small","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-exclamation-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-gift","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-leaf","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-fire","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-eye-open","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-eye-close","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-warning-sign","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-plane","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-calendar","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-random","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-comment","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-magnet","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-chevron-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-chevron-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-retweet","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-shopping-cart","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-folder-close","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-folder-open","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-resize-vertical","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-resize-horizontal","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hdd","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bullhorn","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bell","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-certificate","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-thumbs-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-thumbs-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hand-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hand-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hand-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hand-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-circle-arrow-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-circle-arrow-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-circle-arrow-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-circle-arrow-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-globe","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-wrench","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tasks","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-filter","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-briefcase","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-fullscreen","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-dashboard","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-paperclip","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-heart-empty","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-link","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-phone","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-pushpin","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-usd","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-gbp","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort-by-alphabet","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort-by-alphabet-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort-by-order","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort-by-order-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort-by-attributes","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sort-by-attributes-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-unchecked","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-expand","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-collapse-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-collapse-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-log-in","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-flash","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-log-out","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-new-window","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-record","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-save","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-open","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-saved","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-import","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-export","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-send","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-floppy-disk","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-floppy-saved","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-floppy-remove","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-floppy-save","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-floppy-open","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cblueit-card","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-transfer","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cutlery","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-header","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-compressed","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-earphone","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-phone-alt","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tower","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-stats","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sd-video","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hd-video","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-subtitles","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sound-stereo","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sound-dolby","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sound-5-1","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sound-6-1","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sound-7-1","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-copyright-mark","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-registration-mark","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cloud-download","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cloud-upload","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tree-conifer","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tree-deciduous","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-cd","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-save-file","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-open-file","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-level-up","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-copy","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-paste","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-alert","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-equalizer","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-king","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-queen","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-pawn","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bishop","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-knight","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-baby-formula","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-tent","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-blackboard","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bed","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-apple","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-erase","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-hourglass","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-lamp","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-duplicate","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-piggy-bank","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-scissors","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-bitcoin","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-yen","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ruble","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-scale","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ice-lolly","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-ice-lolly-tasted","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-education","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-option-horizontal","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-option-vertical","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-menu-hamburger","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-modal-window","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-oil","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-grain","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-sunglasses","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-text-size","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-text-color","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-text-background","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-object-align-top","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-object-align-bottom","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-object-align-horizontal","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-object-align-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-object-align-vertical","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-object-align-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-triangle-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-triangle-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-triangle-bottom","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-triangle-top","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-console","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-superscript","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-subscript","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-menu-left","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-menu-right","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-menu-down","icon-xs icon-frame-primary")
                            li
                                +icon-gi("glyphicon-menu-up","icon-xs icon-frame-primary")

                            pre.mv50
                                p.clr-primary.text-center.
                                    |=== Code Box ==|
                                p.clr-primary.
                                    
                                    |Example|
                                    -> Usage of Glyphicons
                                //- code
                                p.clr-green.
                                    |Code|
                                    &#60;i class="glyphicon glyphicon-asterisk"&#62;&#60;/i&#62; </p>
                                p.clr-green.
                                    Output: <i class="glyphicon glyphicon-asterisk"></i></p>
                                p.clr-blue.
                                    Note: Similarly, to access other icons, you have to inspect that icon and then you easily access its name.
                .col-md-4
                    +component-nav()
