mixin ourteampage1()
	section.one-page-team-section
		.bg-team-img
			.bga-black-6
				.container
					.row.mv50
						.col-md-12
								+our-team2()
mixin ourteampage2()
	section
		.container
			.row.mv50
				.col-md-12
						+our-team1()

mixin ourteampage3()
	section
		.container
			.row.mv50
				.col-md-12
						+our-team3()