mixin call-out-btn-right()
    // === callout start here ===
    .call-out-head.pv35.ph30
        .col-md-8
            h3.callout-title Purchase 
                strong
                    |Our Template
            p.callout-para We truly care about our users and our product.
        .col-md-4
            .pull-right
                +btn-theme-xlg("btn-c-primary","purchase")
        // === callout end here ===

mixin call-out-btn-right-icon()      
    // === callout start here ===
    .call-out-head.pv35.ph30
        .col-md-8       
            h3.callout-title Purchase 
                strong
                    |Our Template
            p We truly care about our users and our product.
        .col-md-4
            .pull-right
                +btn-theme-xlg-inv("btn-c-primary","purchase")
        // === callout end here ===




mixin call-out-bdr-btn-right()
    // === background transparent callout mixin start here
    .call-out-head.call-out-bdr.pv35
        .col-md-8.ph30
            h3.callout-title Purchase 
                strong
                    | Our Template
            p We truly care about our users and our product.
        .col-md-4.ph30
            .pull-right
                +btn-theme-xlg-inv("btn-c-primary","purchase")
        // === background transparent callout mixin end here

mixin call-out-speak-bottom()        
    .call-out-speak-bottom
        .row.pv40.ph20
            .col-md-8       
                h3 Purchase Our Template
                p We truly care about our users and our product.
            .col-md-4
                .pull-right
                    +btn-theme-xlg("btn-c-primary","purchase")

mixin call-out-bg-image()        
    // === background image callout mixin start here
    .call-out-bg-img
        .bga-black-7
            .row.pv40
                .col-md-8       
                    h3 Purchase Our Template
                    p We truly care about our users and our product.
                .col-md-4
                    .pull-right.mr20
                        +btn-theme-xlg("btn-c-primary","purchase")
        // === background image callout mixin end here
mixin call-out-makutravel()       
    // === background image callout mixin start here
    .call-out-makutravel
        .bga-black-7
            .row.pv40
                .col-md-8       
                    h3 Purchase Our Golden Package
                    p We truly care about our users and our product.
                .col-md-4
                    .pull-right.mr20
                        +btn-theme-xlg("btn-c-primary","purchase")
        // === background image callout mixin end here