.call-out-head
	position relative
	background-color lighten(black, 90%) !important
	overflow hidden
	border-left 5px solid
	border-color lighten(black, 80%)
.callout-title
	text-transform capitalize
	font-weight 400
	font-size 17px
	color darken(white, 70%)
	strong
		color darken(white, 80%)
		font-weight 600
.callout-para
	color darken(white, 70%)
	margin-top 5px
.call-out-bdr
	overflow hidden
	border 2px solid primary !important
	border-color red
	background-color transparent !important
	&:before
		content ''
		position absolute
		border-right 4px solid primary
		height 100%
		top 0

.call-out-speak-bottom
	background-color lighten(grey, 30%)
.call-out-bg-img
	position relative
	overflow hidden
	background url(../img/header/5.jpg) fixed
	
	h3,p
		margin-left 20px 
		color #fff

.call-out-makutravel
	position relative
	overflow hidden
	background url(../img/travel/makutravel/callout/0.jpg) fixed
	
	.bga-black-7
		padding	60px
		// padding-bottom 60px
	h3
		color white
		font-size 35px
	p
		color white
		font-size 17px
	button
		top 12px