.photopassion
	position relative
	.passion-para
		font-weight 200 !important
		font-size 18px
		line-height 25px
		margin-top 70px
		color #777
@media(max-width 677px)
	.passion-para
		text-align center
	.passion-btn
		text-align center
