mixin photopassion()
	section().photopassion&attributes(attributes)
		.container
			.row.mb80
				.col-md-5
					h2.section-titles.dark photography
						br 
						span is our 
						br 
						| passion 
				.col-md-6.col-md-offset-1
					p.passion-para.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
					div.passion-btn.mt40
						+btn-icon-lg("btn-c-primary", "REQUEST A QUOTE", "fa-camera" )